[2022-03-23 01:16] Connoropolous opened #225 "rename top level folder `happs` to `dna_bundles` for clarity"
since it contains dna definitions, and `happ` has a different meaning in the holochain ontology

[2022-03-23 16:27] Connoropolous opened #226 "rename top level folder `bundles` to `happ_bundles` for clarity"
since there will also be a `dna_bundles` folder

[2022-03-25 07:07] pospi commented on #179
Note that the ability to directly edit `EconomicResource.containedIn` should be removed as part of this update.

[2022-03-25 07:11] pospi commented on #222
What's missing here is an easy way of converting the `(DnaHash, EntryHash)` record ID tuples from `hdk_uuid_types` into a string. Currently the conversion just fails and falls through to a default, which is an empty string.

Very open to custom serialization logic for this, though we should *probably* use `HoloHashB64`, even though it may be removed in favour of some base64 encoding host function

[2022-03-25 07:31] pospi commented on #223
As I recall, there is metadata in OM2 to describe what *type* of unit something is (ie. "length", "area", "volume" and so on). I believe there is also stuff to define the unit system being used (SI vs imperial vs US imperial vs...).

So I would propose this architecture (we can split this into separate issues later as needed, for now I'm just outlining):

-  Implement a "master" units DNA that we

[2022-03-25 07:43] pospi commented on #84
I think it's also worth rearchitecting this slightly in the process of finalising #85, before proceeding here.

There's redundant data split between zomes due to the "list all" API endpoints currently being present within the CRUD zomes. This results in `hdk_uuid_types` anchor entries being stored multiple times- once in the CRUD zome for "read all", and once in the indexing zomes for anchoring ag

[2022-03-25 07:44] pospi commented on #85
Also note some refactoring to do to clean up redundant DHT data in https://github.com/holo-rea/holo-rea/issues/84#issuecomment-1078743966

[2022-03-25 07:58] pospi commented on #40
Note also that this should be implemented in a transparent way within `hdk_records` and will probably affect most of the `record_helpers.rs` function signatures, since we should be returning this data in associated tuples with other record details such as ID and `Entry` data; and probably want to read it from native Holochain `Element` fields so that it can't be tampered with.

[2022-03-25 08:00] pospi opened #229 "Implement Plan DNA"
A relatively simple CRUD zome with some indexes; `Agreement` would be a good blueprint to follow.

`DEFAULT_VF_MODULES` needs to be extended to have `plan` added to the whitelist in order for queries & resolvers for this module to show up.
https://github.com/h-REA/hREA/blob/6c4719c59bc729411c7a6ab695c4360bbe110ef7/modules/vf-graphql-holochain/types.ts#L102-L110

Needed for OSUN academic climate ac

[2022-03-25 08:02] pospi opened #230 "Implement Scenario DNA"
Includes `Scenario` and `ScenarioDefinition` CRUD zomes and indexes. `Agreement` would be a good blueprint to follow as these are relatively simple record types.

`DEFAULT_VF_MODULES` needs to be extended to have `scenario` added to the whitelist in order for queries & resolvers for this module to show up.

Ideally, #85 & #40 would be completed before starting so that there is a well-established a

[2022-03-25 08:05] pospi opened #231 "Implement Recipe DNA"
Recipe is probably the most complicated module left to implement, since it will include functionality that must integrate with the Planning DNA in order to publish production blueprints into actionable Planning records; as well as potentially being able to convert sets of Planning records into recipes so that blueprints can be easily created from previous work.

Must include the `RecipeFlow`, `Rec

[2022-03-25 08:07] pospi opened #232 "Implement Claim DNA"
Includes CRUD zomes for the `Claim` and `Settlement` record types and associated indexes. `Agreement` would be a good blueprint to follow as these are relatively simple record types.

`DEFAULT_VF_MODULES` needs to be extended to have `claim` added to the whitelist in order for queries & resolvers for this module to show up.

Ideally, #85 & #40 would be completed before starting so that there is a

[2022-03-25 08:14] pospi opened #233 "Implement Appreciation DNA"
Includes the `Appreciation` record type CRUD zome and associated indexes. `Agreement` would be a good blueprint to follow as this is a relatively simple record type.

There is an inherent assumption that `Appreciation` should be kept separately from Observation, which might turn out to be false. In this configuration, cross-organisational appreciations would require all organisations to share an *

[2022-03-25 18:35] fosterlynn commented on #231
Just a note that we will probably be adding a few things to the recipe model based on work with the FabCity network.  It's a great opportunity to hopefully create some interops between open hardware doc and VF recipes.  I think what is in VF now will remain as-is, but we need to wait until they are far enough along that we can map to what they are doing, to be positive.  Here's the thinking so far

[2022-03-26 02:46] pospi commented on #219
Hmm, good points. A type field is still an extension to the FOAF spec, though.

Chatting to @Connoropolous about it yesterday, it sounds like if we build to the FOAF and Organization vocabs then we will end up with something more generally applicable than VF Agents, which other apps besides hREA might want to make use of. That seems advantageous; and potentially a way that other orgs like Lightnin

[2022-03-26 02:53] pospi commented on #219
Posting as a separate reply so as to not add noise for the non-Holochain folks:

- [ ] we will also need some kind of "whois" function on the REA Agent zome that accepts a Holochain-native `AgentPubKey` and returns either a full `Agent` record, or a `(DnaHash, EntryHash)` tuple identifier for the associated agent record.

Besides resolving the necessary incompatibilities between other Holochain zo

[2022-03-26 03:02] pospi commented on #153
Hmm, I think this is still yet to do. There should be new action metadata in `lib/vf_actions/src/builtins.rs` that gets picked up by the resource update methods. Still just has `resource_effect`.

The `update_quantity()` method of `EconomicResource` accepts the parameter as a hardcoded value, indicating *the field to be updated*. I believe there was some older logic for how `onhandQuantity` was up

[2022-03-26 05:00] #225 closed, assigned to nobody

[2022-03-26 05:00] pospi commented on #226
Did this a bit differently, but all cleaned up now

[2022-03-26 05:00] #226 closed, assigned to nobody

[2022-03-26 08:29] pospi commented on #213
Completed by updating `package-dnas.sh` script to use more env vars to conditionally toggle bundling and branch on local paths vs release download URL.

[2022-03-26 08:29] #213 closed, assigned to nobody

[2022-03-26 15:52] Connoropolous opened #234 "in `modules/vf-graphql-holochain`, make the identifiers of VF modules explicit in typescript as an enum instead of raw strings"
I am picturing it as an enum where the values are strings

enum VFModule {
  Measurement,
  Agreement,
  Etc,
}

And then the `enabledVFmodules` option could be set to a type `VFModule[]`

That way typescript could help constrain and validate inputs as well as provide autocomplete.

Other places in the code that currently reference the magic module strings could be replaced with imports and code b

[2022-03-26 15:59] Connoropolous opened #235 "create a piece of reference documentation for which DNAs encapsulate which VF modules"
The best thing going so far is this: https://docs.google.com/spreadsheets/d/1bbp896cA6rc9A3OTCOfIn0DMYL-EoulXG2W90zG6oWw/edit#gid=0

But I'd like something that elucidates the rationale as well

[2022-03-26 19:16] fosterlynn commented on #219
Thoughts in response:

Yes, if we can build something with more potential for universality in the future, without impacting schedule, that would be ideal.  (VF does use foaf and org anyhow.  I just suggested EconomicAgent or REAgent to try to not conflict with hc agent, as a "punt" not a universal solution.)

AFAIK that kind of thing doesn't cause any pain for RDF people really, they do a lot of m

[2022-03-26 19:32] fosterlynn commented on #153
Just a note that sometimes both are updated, don't know if you were limiting to one.  I just separated out the Action logic in the doc, it is here now https://www.valueflo.ws/concepts/actions/.

I'm not quite understanding what you said about the history of the logic doc, but here is the most recent version of the suggested logic: https://lab.allmende.io/valueflows/valueflows/-/wikis/Application-s

[2022-03-28 01:25] Connoropolous commented on #153
Ok I think I get the gist of it. Sounds like it should be an open issue, not a closed one.

[2022-04-01 12:39] Thystler opened #238 "Permission denied."
While trying to run the "sudo npm i" in the main launcher i get the following error.

npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://git@github.com/holochain/admin-ui.git
npm ERR!
npm ERR! git@github.com: Permission denied (publickey).
npm ERR! fatal: Could not read from remote repository.
npm ERR!

after a large number of warings about
[hello.log](https://github.com/h

[2022-04-03 08:02] pospi commented on #218
Temporary workaround added in bfde90bd

[2022-04-05 03:26] pospi opened #239 "Implement fulltext search for records with textual fields"
This is quite a complex feature to provide on a DHT. We likely need something similar to the (now defunct) [radix tree](https://github.com/dunkelhaus/trie-hadt) in order to build fulltext search indexes over record fields (`note`, `name` and so on).

We might also want to index these fields separately, so that participants can search for text in *any* record field as well as within specific fields

[2022-04-05 03:27] pospi opened #240 "Implement complex boolean query operators"
The current query API found in the `hdk_semantic_indexes`-based zomes only accepts 1 filter parameter at a time. (Actually, multiple can be passed but only the "last" one will be handled, and the parameter order is meaningless.)

We need to be able to combine query operators with (at minimum) set intersections (boolean AND); but hopefully someday complex nested conditions (mixing AND & OR) as well

[2022-04-06 16:48] Connoropolous commented on #238
What do you mean by the "main launcher"?

[2022-04-06 19:10] Thystler commented on #238
So I am running from the folder where the holo-rea is located.
_nix-shell
npm i_

And this returns the error

npm ERR! Error while executing:
npm ERR! /usr/bin/git ls-remote -h -t ssh://[git@github.com](mailto:git@github.com)/holochain/admin-ui.git
npm ERR!
npm ERR! git@github.com: Permission denied (publickey).
npm ERR! fatal: Could not read from remote repository.
npm ERR!

The full log of this

[2022-04-06 20:06] Connoropolous commented on #238
you should be running `pnpm i`

[2022-04-08 05:12] #234 closed, assigned to Connoropolous

[2022-04-08 05:16] pospi commented on #238
If you still get the error with `pnpm i`, a logfile would be useful. You should be getting a different error message with `npm i`, and the one you're getting looks like a Github authentication issue. Which is weird- we aren't referencing that repo directly at all, but possibly one of the core Holochain modules does in which case we should file it upstream.

Thanks!

[2022-04-12 00:38] Connoropolous commented on #40
@pospi since you just mentioned this elsewhere that you were working on it, and consequently I was just reviewing this issue I just 'assigned' it to you, based on our chat about ways of working, if that's ok.

[2022-04-12 00:51] Connoropolous opened #242 "test running error: bridge is not a function"
While running:
[code]

I got:
[code]

[2022-04-12 01:14] Connoropolous commented on #242
@pospi are you currently able to run the tests? I get this ^

[2022-04-12 01:19] Connoropolous commented on #238
This issue seems out of context. It seems like it has to do with the Holochain Launcher (which uses admin-ui). I am closing for now. @Thystler please let us know if there's more clarity we can have on this.

[2022-04-12 01:19] #238 closed, assigned to nobody

[2022-04-12 01:34] pospi commented on #242
I see you found #216, that's good! I consider this basically a duplicate / sub-task of that but happy to leave it open if you think it's good to have the specific error noted.

I also wonder how worthwhile it is to go ahead updating tests at this point given that Tryorama is in the middle of yet another API change.

[2022-04-12 01:39] Connoropolous commented on #242
Yeah I made it a sub-task so at least that's noted, plus the error message.

I don't care whether it's with tryorama or not, but I do know that it will be good, and important asap, that are we able to exercise the functions and get a sense of how their performance is, in particular.

[2022-04-12 01:47] pospi commented on #219
I think it'd be great to go ahead with this now. Maybe check with Basis & WoN, then submit a PR to the core vocab as a starter to gather feedback?

I suggest these particulars, based on what you've said and my non-ontologist naive experience of RDF grammars:

- Add `vf:agentType` to as a field valid for `foaf:Agent` (`vf:type` feels too generic)
- Possible values for `vf:agentType` being `foaf:Age

[2022-04-12 02:21] #242 closed, assigned to nobody

[2022-04-12 02:39] Connoropolous commented on #218
since this isn't blocking at the moment, and we have longer term open questions about tryorama and related updates, we could just close this. The only other option (would be good with it also) would be to change the name of the issue to be 'un-hack the temporary tryorama hack' and point back to the commit and the related code, such that we're basically tracking that 'todo' in the code.

[2022-04-12 02:39] #218 closed, assigned to nobody

[2022-04-12 02:41] Connoropolous opened #244 "rename references throughout the repository from holo-rea to hREA"

[2022-04-12 02:43] pospi commented on #40
Ah, thankyou for being on top of it! :)

[2022-04-12 02:58] Connoropolous commented on #216
@pospi I am trying out this library tap-dot instead of `faucet` for the test out put since I am finding the faucet output very difficult to get a read on.

https://github.com/scottcorgan/tap-dot

It is giving me a nice output like this:
<img width="442" alt="Screen Shot 2022-04-11 at 7 56 47 PM" src="https://user-images.githubusercontent.com/1409121/162870323-0bb13335-462c-44f1-b479-83d76aa3c30a.p

[2022-04-12 19:57] Connoropolous opened #246 "`test/process` has 38/50 assertions passing. Fix indexing related issue (at least 12 failing assertions)"
- [x] update for new pagination API
- [ ] update misconfigured index configuration

same or very similar as over in #253

[code]

[code]

Core error:
[code]

[2022-04-12 19:58] Connoropolous opened #247 "`test/economic-resource` has 47/77 assertions passing sometimes. Fix failing assertions"
The 1 that fails seems to be flaky. When running just the 1 file `economic-resource/resource_validation.js` by itself as a test it consistently seems to pass.

4 tests
47 passed
1 failed
..........................................x.....

[2022-04-12 19:58] Connoropolous opened #248 "`test/core-architecture` has 80/80 assertions passing"
- [x] fix indexing related issue
- [x] fix failing update_commitment call

[code]
[code]

[code]

related code:
https://github.com/h-REA/hREA/blob/eaa60382b6ab3b8584587dd137fd0b68c48d8b3e/test/core-architecture/test_record_links_cross_dna.js#L122-L131

[2022-04-12 19:58] Connoropolous opened #249 "`test/specification` has 40 passed/41(?) assertions passing. Fix at least 1 failing assertions in specification/test_unit_crud.js"
[code]
[code]

[2022-04-12 20:13] Connoropolous commented on #246
Output

[code]

[2022-04-12 20:28] Connoropolous commented on #247
Output, when it fails. The actual failing test is in `test/economic-resource/resource_logic.js`

[code]

[2022-04-12 21:19] Connoropolous commented on #247
The failing test is in : `test/economic-resource/resource_logic.js`

When using the unfiltered log outputs, we get the following, which reveals an 'out of memory' issue, which should relate to an unlimited recursion, in the recursive `get_latest_header_hash` logic. (@Connoropolous knows about this)

[code]

[2022-04-12 23:57] pospi commented on #216
I am still working through them one directory at a time, and just running the commands piecemeal for now. We could create a completion matrix for them if you think it's too cumbersome to proceed in that way?

[2022-04-13 00:07] fosterlynn commented on #219
Results of a meeting between @pospi @bhaugen and me, please let us know of any disagreements @Connoropolous or anyone!

The VF core spec won't change, at least as of now, that is more complicated.  If hREA needs to spit out data to apps in other technical ecosystems using more semantic web based formats, we could create the subclasses if needed.  And maybe by that time, VF would be just "Agent".

[2022-04-13 00:21] Connoropolous commented on #247
fixed in https://github.com/h-REA/hREA/commit/12afd7b215404ce6027257c9f81dbc945aca3779

[2022-04-13 00:21] #247 closed, assigned to Connoropolous

[2022-04-13 00:26] Connoropolous opened #250 "`test/agent` reports 0/3 assertions passing. disable for now"

[2022-04-13 00:26] Connoropolous opened #251 "`test/proposal` has 0/? assertions passing. update them"
[code]

[2022-04-13 00:26] Connoropolous opened #252 "`test/fulfillment` has 5/? assertions passing. Fix indexing related issue"
- [x] fix indexing related issue

[code]

[code]

for this object:
[code]

related code:
https://github.com/h-REA/hREA/blob/a44147d0a5568a472fcbab2432c0c4cd2ca631d9/test/fulfillment/fulfillment_records_e2e.js#L61-L63

[2022-04-13 00:26] Connoropolous opened #253 "`test/agreement` has 12/24 assertions passing. fix indexing related issues"
[code]

- [x] `test_agreement_crud.js` has been updated but needs fixing the assertions or calls
- [x] `test_agreement_links.js` needs updating to new tryorama (easy)
- [x] fix indexing related issue

same or very similar as over in #246

With some added logging, we can see this now:
[code]

[code]

related code:
https://github.com/h-REA/hREA/blob/13d4987c182fd1d7f08fa492c81e92005189b53a/test/agre

[2022-04-13 00:26] Connoropolous opened #254 "`test/flows` has 37/40(?) assertions passing. Fix indexing related issue"
- [x] fix indexing related issue

Could be related to this change in this commit:
https://github.com/h-REA/hREA/commit/79a5bebefe13488b7afb2f7a1250b53907203375#diff-416d45b2d9d21f7728677a5b6c04799b0cd94cb8bc7acbd23758a2b9ffc87040

to test, run:
[code]

pass  37
fail  3

Core error:
[code]

related code:

[2022-04-13 00:26] Connoropolous opened #255 "`test/satisfaction` has 17/21(?) assertions passing. Fix indexing related issue"
- [x] fix indexing related issue

It seems as if the indexing of satisfactions is happening in an unexpected DNA. I (Connor) don't understand this well enough, especially with satisfactions to fix it. The entry hash portion of the identifier is right, but the DNA half is wrong.

To work on this, run
[code]

[code]

First error:
[code]

[2022-04-13 00:26] Connoropolous opened #256 "`test/social-architectures` has 0/? assertions passing. disable for now"
[code]

Assessment: needs updating to new tryorama

[2022-04-13 00:46] pospi commented on #219
I think that's about right. However given that this is temporary and will evolve as project needs will I don't think there is any issue in putting non-spec-compliant fields in- why do some weird thing with `note` for location when we could just add `primaryLocation` to store a lat,lng coordinate as a string? We can hide away any weirdness in the GraphQL resolvers to make whatever internal data for

[2022-04-13 01:11] Connoropolous commented on #250
Pospi says:
"mark the agent tests as ones to not fix now- given that the agent registration module is broken and we are looking at a reimplementation of something entirely different for Agent"

[2022-04-13 01:11] #250 closed, assigned to nobody

[2022-04-13 01:13] Connoropolous commented on #256
Output:

[code]

[2022-04-13 01:18] Connoropolous commented on #255
Output:

[code]

[2022-04-13 01:27] Connoropolous commented on #252
Output:

[code]

[2022-04-13 01:30] Connoropolous commented on #251
Assessment: hasn't been updated to new tryorama

Output:

[code]

[2022-04-13 01:32] Connoropolous commented on #249
Output:

[code]

[2022-04-13 01:36] Connoropolous commented on #254
Output:

[code]

[2022-04-13 01:41] Connoropolous commented on #253
Output:

[code]

[2022-04-13 01:58] Connoropolous opened #257 "usability goals for integration tests"
- [ ] develop a way to see which test file is currently being run by `tape`, clearly marked out in the TAP output
- [ ] make tests more isolated from each other so that some can continue even if others fail
- [ ] use `tap-dot` or something similar to provide a better summary at the end of the test running about what happened, and which tests passed and which failed

[2022-04-13 02:21] pospi commented on #216
Some notes on what typically needs updating in each test script:

- player initialisation logic changes need to use the new `buildConfig` and `buildPlayer` API format (doing these will actually get you into the test logic proper)
- you need to use the mocking methods from `init.js` to mock identifiers in order for the backend to accept them. There is `mockAddress()` for `EntryHash`-based IDs; `moc

[2022-04-13 03:17] #257 closed, assigned to nobody

[2022-04-13 04:24] pospi commented on #256
This test is kindof a stub and deals with a lot of the lesser-used Tryorama moving parts, so I think we should leave redoing it until the next version releases so we don't have to adjust for API changes.

It would also be good to run an HiA session on this test and walk through implementing it as a group- I think there's a lot of fertile ground for getting folks to think in multiparty, cross-membr

[2022-04-13 12:53] fosterlynn commented on #219
sure, much better!

[2022-04-13 20:02] fosterlynn commented on #219
I was also thinking about agent relationships and roles this morning.  Either they will need to be not far behind this, or we could do another hack.  For example, in NYTL, they will want to see farms vs mills vs designers, etc. maybe color coded, maybe filterable, etc.  Those would be roles in the network. But as long as those agents don't have multiple roles, we could add classifiedAs and use tha

[2022-04-14 19:30] Connoropolous commented on #256
Cool, ok noted. I am closing the issue for now, and will be effectively disabling the test for now

[2022-04-14 19:31] #256 closed, assigned to nobody

[2022-04-14 19:33] Connoropolous commented on #216
Thanks for documenting that, that may be very useful!

[2022-04-21 23:38] Connoropolous commented on #255
found out that this relates to this here: https://github.com/holochain-open-dev/dna-auth-resolver/blob/07d3bc5287b8334c18b004ab4e1a073f5d2e0dd3/README.md#troubleshooting

since that's in use under the hood. At first I was wondering how we were getting an error 'dna_authed_method_mapping' whose text didn't appear in this source code at all, but then I remembered the underlying libraries

[2022-04-22 00:18] Connoropolous commented on #255
I have fixed the first errors. The new error, while calling `create_satisfaction` is this:

[code]

[2022-04-22 00:18] Connoropolous commented on #255
@pospi any basic recognition of such an error?

[2022-04-22 23:10] Connoropolous commented on #255
I figured it out:
before
[code]

after
[code]

without assigning a response type, it seems that call_zome_method assumes it is trying to deserialize into the Unit type () but failing to do that when it receives non-null data

[2022-04-22 23:58] Connoropolous commented on #255
I've updated the original issue description with the latest work to do here

[2022-04-24 00:36] Connoropolous commented on #254
@pospi I have updated this issue with new context about the non-trivial issues affecting this test file.

I spent at least an hour looking into where the logic is breaking down, but without knowledge relating the cross dna indexing I feel too disadvantaged to figure it out efficiently. Can you give me some background, or advise me on this?

[2022-04-24 00:37] Connoropolous commented on #254
It seems like the inverse of #246 , and maybe fixing the two are related

[2022-04-24 20:40] Connoropolous commented on #253
@pospi in terms of solving the first issue here, which seems to relate to indexing, can you expand on this 'TODO' here?
https://github.com/h-REA/hREA/blob/9bdcaf129046099bca0c6e3d995bcab0c819d041/zomes/rea_agreement/zome_idx_agreement/src/lib.rs#L4

What is the TODO? Was this zome or configuration not updated during some previous pass? Is it different than others?

[2022-04-25 04:04] pospi commented on #253
I had a bit of a check for things, seems like it could be missing some declarations.

One is more about [this issue](https://github.com/h-REA/hREA/blob/57681b2/zomes/rea_economic_resource/zome_idx_observation/src/lib.rs#L14)- I don't feel as though I should have to be declaring that extern, that but if it's expected zome developer experience then we can remove the TODO and add these to all index z

[2022-04-25 05:57] pospi opened #263 "inter-zome RPC config cleanup pass"
It's looking like the "Planning" suite is the remaining one with indexing configuration related issues https://github.com/h-REA/hREA/issues/252 , https://github.com/h-REA/hREA/issues/254, and https://github.com/h-REA/hREA/issues/255.

 @pospi can you look at it? I have tried

[2022-04-25 05:59] pospi commented on #254
RE https://github.com/h-REA/hREA/issues/254#issuecomment-1107673826 see #263 :)

[2022-04-25 06:35] pospi commented on #263
Gonna get through as many of these as I can. Started with the `Agreement` indexing update in d93559be.

[2022-04-25 06:50] pospi commented on #263
Finished with first item, moving it down here so as to not interfere with outstanding work-

### # 1

- [x] DNA config manifests need to be updated to match new index libs

For every `_index_zome` helper in the zome's `lib` crate, there should be a defined `index_zome:` for this zome, under a parent key of the same name as the zome (eg. `agreement`, `economic_event` etc) to pair the CRUD zome with

[2022-04-25 07:44] pospi commented on #263
Also completed-

### # 3

- [x] Any query edges involving `Agent` need to have their indexes declared in appropriate local & remote zomes as part of #262

(committed to that PR)

[2022-04-25 07:54] pospi commented on #263
@Connoropolous if you get back to these, see how you go testing #255, #253, #254 and similar after the `EntryDefs` are declared in zomes which call remote indexes.

[2022-04-25 12:19] fosterlynn commented on #253
correct, just a query

[2022-04-25 15:45] Connoropolous commented on #263
@pospi this seems like really great progress, wow.

I have a question:
is it accurate to say that for the indexes:
Remote = Same Happ or at least Same Conductor?
Local = Same DNA?

If that is so perhaps that's why I find it a bit confusing, because Remote also gives the impression of it not being local to the same device, whereas it actually would be

[2022-04-25 16:27] Connoropolous commented on #253
after seeing an error like this:
[code]

occur on an object like this:
[code]

I realized that `revisionId` wasn't getting caught by the client side (de)serializing code. I fixed that here: https://github.com/h-REA/hREA/commit/f17bc767ad915acb8856f80243201d69b56d8d38
and that fixed that particular set of tests within agreement :)

interestingly, the tests that were passing, such as test/economic_r

[2022-04-25 17:19] Connoropolous commented on #253
Now that I've updated tryorama in https://github.com/h-REA/hREA/commit/13d4987c182fd1d7f08fa492c81e92005189b53a, we are in fact back to the issue of indexing. That is the last piece

[2022-04-25 20:37] Connoropolous commented on #253
@pospi I've gotten it to a place where I see this.

There is no inclusion of any zome that would handle agreement_index for the Observation DNA

hc_zome_rea_economic_event_lib:zomes/rea_economic_event/lib/src/lib.rs:201 realization_of results:
[
Err(NotConfigured(ZomeName("economic_event"), FunctionName("_internal_index_agreement_economic_events"))),
Ok(RemoteEntryLinkResponse { indexes_created: [

[2022-04-25 22:48] Connoropolous commented on #246
Hey @pospi I'm still struggling through my foggy understanding of how to configure things. I've read the docs, but still struggling just cause it's hard to make sense of the 'sides'.

can you help me fix this one?
[code]

[2022-04-25 22:58] Connoropolous commented on #263
I read a bit more about this since my comment ^ you can ignore for now

[2022-04-25 23:00] Connoropolous opened #264 "Handle create_index! and update_index! calls properly, by not swallowing errors and giving sufficient error feedback"
At the moment I have simply added debug calls so that we can at least see them fail, potentially, but this isn't sufficient. We need proper error handling.

https://github.com/h-REA/hREA/blob/3833a5c537321e5b06a6f6ad9b2f690c34991eee/zomes/rea_economic_event/lib/src/lib.rs#L190-L202

[2022-04-26 04:12] pospi commented on #263
Common error messages you might encounter in misconfiguring zomes (might be useful info in #264):

- `hdk_rpc_errors::CrossCellError::NotConfigured` - occurs due to the misconfiguration of a CRUD zome in the Cell's DNA properties. For any CRUD zome that will link to associated index records *in the same Cell*, ensure that a property for `{dest_record_type}_index_zome` is defined and matches the `n

[2022-04-26 04:15] pospi opened #265 "Update `hdk_semantic_indexes` readme"
- [ ] Better explanation / help with configuration related error messages; see https://github.com/h-REA/hREA/issues/263#issuecomment-1109309672

[2022-04-26 04:18] pospi commented on #263
Have pushed some fixes to the core lib in 66990322 and preceding commits also fixed some config which gets #253 over the line. (Also note the need to sort arrays when comparing, since results are returned unordered at present.)

I put an explanation of the common configuration-related error types above, would be worth adding in #265 unless you want to do any more cleanup on error handling while yo

[2022-04-26 04:19] pospi commented on #253
Completed via https://github.com/h-REA/hREA/issues/263#issuecomment-1109312721

[2022-04-26 04:19] #253 closed, assigned to nobody

[2022-04-26 05:29] pospi commented on #253
Nice! Does this mean a `RevisionId` / `HeaderHash` now looks string-like when accessed / debugged via the GraphQL API?

Sent from ProtonMail mobile

-------- Original Message --------
On 26 Apr 2022, 2:27 am, Connor Turland wrote:

[2022-04-26 05:41] Connoropolous commented on #253
Yep

[2022-04-26 15:24] #246 closed, assigned to nobody

[2022-04-26 19:33] Connoropolous commented on #263
moving this to a comment:

### # 2

- [x] CRUD zomes calling the macros `create_index!`, `update_index!` need to have the `EntryDef` for `hc_zome_dna_auth_resolver_storage::CAP_STORAGE_ENTRY_DEF_ID` added to their crate manifest if not already present:

[code]

[2022-04-26 21:05] Connoropolous commented on #255
@pospi I updated this one's description with the latest. Broadly, fixing this would entail fixing configuration of satisfaction indexing I think. Can you take over?

[2022-04-26 21:43] #248 closed, assigned to Connoropolous

[2022-04-27 07:06] pospi commented on #60
Closing this one as superceded- given the newer approach of keeping indexes separately to CRUD entries, not to mention the new Holochain architecture of using headers for updates & deletes.

It does seem we are on the final pass of indexing cleanup and with https://github.com/h-REA/hREA/issues/84#issuecomment-1078743966 and #264 being addressed we should be in a good place for an MVP.

[2022-04-27 07:06] #60 closed

[2022-04-27 07:30] pospi commented on #264
Debug output is a nice first pass. It would be worth thinking about #176 whilst doing this; and might also be worth holding off until the new "integrity zomes" and "coordination zomes" distinction has landed in core (since it might provide integrity guarantees that we can leverage).

I'd also be curious to explore use of `post_commit` to manage index updates- this would ensure that no index failur

[2022-04-30 21:57] pospi commented on #263
- [x] We should also make a pass at cleaning up unneeded storage consts as part of this issue- most aren't needed.

[2022-04-30 22:08] pospi opened #266 "Design & implement appropriate solution for handling split records"
In the current architecture, `Fulfillment` and `Satisfaction` are both shadowed across the "observation" and "planning" DNAs. The idea behind this was that agents in multi-stakeholder environments would be able to retrieve details of these 'bridging' records if they only had permission to access one side of the network.

However, it presents a problem in tracking down the original collaboration sp

[2022-04-30 22:21] fosterlynn commented on #266
I might very well be missing something, but I'm still having a hard time imagining a use case for when a network that fulfills wouldn't also have the planning piece.  I don't understand why "multi-stakeholder" would have anything to do with it?  Why would "discovery" ever be needed?  Is there a way to make this simpler if we can make some assumptions about networks that plan and do, or only do, or

[2022-05-02 11:48] pospi commented on #252
Fixed in 08de190c

[2022-05-02 11:48] #252 closed, assigned to nobody

[2022-05-02 12:02] pospi commented on #266
I'm sortof basing these designs on what might be needed in terms of that exact "plan and do" / "only do" / "only plan" variation.

Say there is a system that takes open orders from customers who want stuff delivered. This might be an "only plan" network, in that all that happens here is that folks put out `Intents` to have `EconomicResources` `droppoff`ed to them; and negotiate for logistics provi

[2022-05-04 02:32] pospi commented on #255
Completed in 0fd25502

[2022-05-04 02:32] #255 closed, assigned to nobody

[2022-05-04 03:36] pospi commented on #251
Fixed in 3574f1c2..449f2376 (inclusive)

[2022-05-04 03:36] #251 closed, assigned to Connoropolous

[2022-05-04 04:29] pospi commented on #254
The remaining errors here seemed to be related to #266. I've implemented an ID translation mechanism which seems to be functioning well in the interim and might be acceptable long-term, see d5025681 and 7194171d.

There are still just a few failing assertions right at the end of the test. `ies` and `ics` seem to be being returned as `null` for some reason, probably due to mismatched CellIds in tho

[2022-05-04 04:32] Connoropolous commented on #266
I can't comment on any kind of solutions till I grasp more fully what is meant by the opening statements:

"In the current architecture, Fulfillment and Satisfaction are both shadowed across the "observation" and "planning" DNAs. The idea behind this was that agents in multi-stakeholder environments would be able to retrieve details of these 'bridging' records if they only had permission to access

[2022-05-14 00:22] pospi commented on #266
Mostly to prove that something I'd call "social composability" is possible on Holochain. It's been an important part of the modularity conversation so far and from what I've observed in the core team and in other projects has been crucial in holding space for the possibility of hyper-modular software to emerge. Without doing this kind of PoC I expect the 'apps vs modules' conversation would have l

[2022-05-16 08:20] pospi commented on #254
Fixed with final updates to paginated response formats

[2022-05-16 08:20] #254 closed, assigned to nobody

[2022-05-16 10:20] pospi commented on #264
Made a pass at this for uniformity- all index updates and RPC calls are now logged, and treated as non-critical so as to avoid any cascading inter-cell request failures (which are kinda hard to debug). See 458daed9.

[2022-05-16 10:22] pospi commented on #249
Unit tests now fixed, completing this set of assertions.

[2022-05-16 10:22] #249 closed, assigned to Connoropolous

[2022-05-16 10:28] #263 closed, assigned to pospi

[2022-05-16 10:29] pospi commented on #216
All seems to be well now, am seeing 442 passed tests and no failures.

[2022-05-16 10:29] #216 closed, assigned to Connoropolous

[2022-05-18 00:29] pospi commented on #40
Work on this started in `feature/40-record-revisions-metadata`, but pushing to lower priority and will loop back once some of the higher-priority MMR work is completed.

Note that the complicated parts of the implementation have been done, most of the work remaining will be the gruntwork of adding appropriate API endpoints and record metadata to all the existing datatypes.

[2022-05-19 16:49] Connoropolous commented on #40
@pospi is the work for creation times and author metadata considered one-and-the-same as the 'revision history' work? Is it possible to get creation times and author metadata without going full on revision history?

[2022-05-23 07:58] pospi commented on #40
Yeah. We can split this if you like or I can just do those quickly, actually they might just be [this conversion](https://github.com/h-REA/hREA/blob/545370e/lib/hdk_records/src/metadata_helpers.rs#L94). So we could merge that branch (feature/40-record-revisions-metadata) and import `RevisionMeta` without having to integrate/test `RecordMeta` as well (`wasm-opt` will definitely prune any dead code,

[2022-05-23 08:01] pospi commented on #221
It's now added inline by the `index_zome` proc macro. Since it's only used at the zome API boundary, this seemed like a sensible architecture. Close if you agree (:

[2022-05-23 08:03] pospi commented on #84
These [concerns](https://github.com/h-REA/hREA/issues/84#issuecomment-1078743966) are addressed in #268.

[2022-05-24 05:38] Connoropolous commented on #221
since it follows with the other conventions, happy to roll with it for now 👍

[2022-05-24 05:38] Connoropolous commented on #221
or should it be closed when #268 is merged I guess

[2022-05-24 12:17] pospi opened #270 "make `mapZomeFn` take generic parameters so that we have compiler guarantees at API boundary"
- [ ] make the function accept generic arguments for the input and output type
- [ ] for each `mapZomeFn(...)` call import the relevant types and reference them

Not sure if this is the moment, but noting that I'd like to make `mapZomeFn` take generic parameters so that we can define both the expected input type and the expected output type.
That would mean we'd be able to have type checking and t

[2022-05-24 12:24] pospi commented on #221
There is a little more to do in addition to that, need to finalize the `Cursor` handling & test pagination

[2022-05-24 19:50] Connoropolous commented on #210
I'm going to close this, as we will be replacing this entirely

[2022-05-24 19:50] #210 closed, assigned to nobody

[2022-05-24 20:05] Connoropolous commented on #264
That's good progress.

We could also change the response type of those functions, to include a section where those errors could be returned to the caller, and decisions made in that calling context about what, if anything, to do with that error

[2022-05-24 20:31] Connoropolous opened #271 "integration test usability, round 2"
we are still having issues with usability of the test suite.

when the stack trace fails to include the file name, or line numbers, we don't know specifically which test in the test suite failed, and may end up wasting a lot of time just trying to figure out which test that is that is failing.

[2022-05-24 20:43] Connoropolous opened #272 "rename zome names which have prefix `rea` with `hREA`"
there are names such as `rea_unit`

[2022-05-24 20:43] Connoropolous opened #273 "renames"
- [x] #272
- [x] #244

[2022-05-24 20:51] Connoropolous commented on #211
This got fixed, I believe

[2022-05-24 20:51] #211 closed, assigned to nobody

[2022-05-24 21:07] Connoropolous commented on #84
@pospi this is something I'd really like to get chatting about.
I am not convinced even describing the system as "pagination"  is that useful, as there is no global ordering of records, therefore, how can you do 'pagination'.

Eric HB has discussed this with me in the past, that what is useful is 'chunking', but I haven't reviewed the spec for that.

[2022-05-24 21:08] #172 closed, assigned to nobody

[2022-05-24 21:31] Connoropolous commented on #271
In the original, basic `pnpm run test:integration`, when I saw a failing error, I saw:
[code]

In order to figure out which test was failing, I ran the tests without the `tap-dot` filter, by running

`WASM_LOG=debug RUST_LOG="debug,wasmer_compiler_cranelift=error,holochain::core::workflow=error," RUST_BACKTRACE=1 GRAPHQL_DEBUG=1 npx tape --ignore .skip_tests **/*.js`

this gave me more useful erro

[2022-05-24 21:45] Connoropolous opened #274 "Failing test on intel based macos in `flows/flow_records_graphql.js`"
This is specifically on Macos from what we can tell, for an unknown reason

Run
`WASM_LOG=debug RUST_LOG="debug,wasmer_compiler_cranelift=error,holochain::core::workflow=error," RUST_BACKTRACE=1 GRAPHQL_DEBUG=1 npx tape --ignore .skip_tests flows/flow_records_graphql.js`

and get:
[code]

The related lines of code:
https://github.com/h-REA/hREA/blob/c3ba5a4aa474cc2f8e8973e7655f647226d2c164/test/fl

[2022-05-24 21:48] Connoropolous opened #275 "After release of the first HDI (or integrity kit) of Holochain, update versions to that"
here is an example to sample from:
https://github.com/perspect3vism/agent-language/tree/main/hc-dna/zomes/tests

[2022-05-24 22:16] Connoropolous commented on #271
Putting it through `faucet` produces this...

[code]

It appears that suddenly after a failure it stops swallowing logs? I can't figure out the exact behaviour. The actual stack trace is the same, but it also reveals the useful stack trace

[2022-05-24 22:24] Connoropolous commented on #271
It's happening like this because tryorama middleware is messing with the caught error
https://github.com/holochain/tryorama/blob/4b7d7d9a4d18e097706c275a004d8db9200f9c70/src/middleware.ts#L132-L139

[2022-05-24 22:28] Connoropolous commented on #271
There is work on a new version of tryorama coming down, maybe early next week.
https://github.com/holochain/tryorama/pull/108

[2022-05-27 01:43] #271 closed, assigned to nobody

[2022-05-30 02:16] pospi commented on #264
I think most already do this. Operations which operate on single bits of data will return any error to the caller; operations which hit multiple "things" usually have `Vec<RecordAPIResult>` held somewhere in the response data, and each individual record can thus be returned as a bound error.

[2022-05-30 02:17] pospi commented on #272
I think all zome names were `rea_`. There shouldn't be any `hREA` ones; and I also don't think Rust likes you putting uppercase in crate names. Anyways, the reason for this decision was that the "Holochain" part felt already implied by the `hc_zome_` crate prefix; thus- `hc_zome_rea_XXX`.

[2022-05-30 02:21] pospi commented on #84
Yeah, chunking is how it's going to have to be implemented at the data layer. But we can create abstractions for that, and I think the mental model of "pages" is still pretty good as a "lowest common denominator" target. The algorithms are medium-difficulty, if a bit fiddly- you just need to iterate forwards / backwards in chunks until you retrieve up to your intended limits & discard the remainde

[2022-05-30 02:23] pospi commented on #84
RE time ordering and sources of truth, this old discussion might be relevant- https://forum.holochain.org/t/mixin-zome-s-for-entry-timestamping/1307 And also relevant to note that I'm thinking about this ordering from the timestamp of the related `Element`'s header.
So, there are some APIs we could formalise around this timestamping stuff when we finish the list API work and get on to the metadata

[2022-05-30 02:27] pospi commented on #85
Draft PR governing the schema design for pagination handling can be found at https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/issues/84
CC @Connoropolous

[2022-05-31 01:24] pospi commented on #274
That GraphQL request does run more mutations in parallel than possibly anywhere else in the tests. It could be a race-conditiony type thing where potentially something is happening *too* quickly, I've seen that before in older Holochain versions, from memory it was manifesting as a query starting on a cell before the DNA had finished installing. But this seems different- all those zomes have been

[2022-05-31 19:52] Connoropolous commented on #264
I am hearing that many fns already do that, and to my knowledge none of the ones performing create_index and update_index calls do, so that's what I'm really pointing at. Refactoring the response type and making room in the response for any prospective errors from those calls

[2022-05-31 23:23] Connoropolous commented on #40
I think I like that path, I recommend proceeding that way. There's a lot of utility in just having 'who created and when' at a basic level, before having, "and who updated and when"

[2022-06-01 00:35] Connoropolous opened #277 "once vf-graphql has Vf Module changes, update the version and update the necessary code in vf-graphql-holochain"
implement these changes:
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/105

https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/tree/module-breakdown-and-bridging/lib/schemas

- look for instances of `hasKnowledge` `hasPlanning` or `hasObservation` and replace those instances where necessary with new and more specific module names, as defined by the list of chang

[2022-06-01 00:53] Connoropolous opened #278 "update the Plan DNA and tests with `plannedWithin` field that was previously missing"

[2022-06-02 21:32] Connoropolous opened #279 "add integration tests for updateEconomicEvent"

[2022-06-02 21:46] fosterlynn commented on #279
@Connoropolous events can't be deleted, see this section https://lab.allmende.io/valueflows/valueflows/-/wikis/Application-specification-guidance#validations which also has info about what can be updated.

(That's an accounting thing that still applies to us, because you never know when a financial statement or other report was pulled.  I need to write up some guidance about "backing out" economic

[2022-06-02 23:24] Connoropolous commented on #279
there is a method in the vf-graphql though?

[2022-06-02 23:35] fosterlynn commented on #279
I see what you mean, and there is a delete for EconomicResource too, which is also not deleteable.  @pospi any recollections on this?  Too far back for my brain....

[2022-06-02 23:36] Connoropolous commented on #279
it is even implemented in the code already

[2022-06-02 23:43] fosterlynn commented on #279
anyway, I wouldn't write a test for it, until we see if I am missing something or not

it occurs to me maybe there could be something around events that never are countersigned or otherwise accepted by the other party, so they never became actual events??  but on the basic functional level, you can't delete events or resources, if it is possible a financial report has been run including them

[2022-06-03 23:20] Connoropolous opened #281 "Cleanup todos in graphQL resolvers RE DNA identifiers"
https://github.com/h-REA/hREA/blob/9c76812a84aba2a045ffc718dfac1e7819d00286/modules/vf-graphql-holochain/queries/intent.ts#L15

[2022-06-04 00:30] Connoropolous opened #282 "vf-module re-organization / breakdown"
The work performed and described over in
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/105

[2022-06-06 00:30] Connoropolous commented on #270
closed in #280

[2022-06-06 00:30] #270 closed, assigned to weswalla

[2022-06-06 00:38] weswalla opened #283 "more verbose and relevant error feedback from tests"
Currently the integration tests do not provide adequately relevant feedback when tests fail, particularly when the error is on the zome side. Perhaps there are ways to print rust errors only, or to improve the gql error handling of zome side errors.

[2022-06-06 01:01] #229 closed, assigned to nobody

[2022-06-06 02:51] pospi commented on #279
Yeah it might be an implementation / model logic type distinction, but I put those there for use in removing or fixing the occasional event that is logged purely erroneously & hasn't had anything else done to/with it since being created. For this to be a feature you would also need the capability to delete similar resources having been instantiated by any such events.

`UpdateEconomicResource` is

[2022-06-06 02:52] pospi commented on #281
I think we can just roll this into cleanup / renames work; those DNA identifiers are now coming through dynamically via passing of `DnaIdMappings`. So really just old TODOs needing removal.

[2022-06-06 14:33] fosterlynn commented on #279
That would be great, but there's no way to know if in the last 3 seconds (or 3 nano-seconds), someone pulled an official financial or tax report.

[edit] To be more clear, these reports are mostly date/time range driven, so deleting something in the last accounting period will mess things up.  It's an existing accounting practice, that keeps you clean in an audit.

[2022-06-06 14:36] fosterlynn commented on #279
Unfortunately, it won't fully go away with the new action effects.  We could make it go away, but it still seems confusing and excessive to make people log a new event when they are just fixing a typo or clarifying a description.  We tried to split off economic effects and other stuff.

[2022-06-06 23:29] Connoropolous commented on #283
is this (I am assuming it is) in the context of running `npm run test:integration` and the specifics of how the full suite of tests executes?

[2022-06-07 00:00] Connoropolous opened #284 "delete .gitmodules and scripts/preinstall.sh"
@pospi is this an ok thing to do? there are no submodules now

[2022-06-07 10:19] pospi commented on #284
sure and go for it

[2022-06-08 09:53] #182 closed, assigned to nobody

[2022-06-08 09:53] pospi commented on #182
Solution implemented as above^

[2022-06-08 19:47] Connoropolous commented on #278
@pospi I think this is contingent on you or I adding `plannedWithin` to `CreatePlanParams` and `UpdatePlanParams` over in v-graphql, agreed?

[2022-06-08 19:48] Connoropolous commented on #279
okay this is getting interesting. Sounds like a pretty grey area.
I still think that it could be useful to add the integration tests, which wouldn't be a lot of work, because otherwise we code that technically is written, but could at any time be non-functional and we wouldn't know. If we keep it around, what's the point if we don't maintain it right?

[2022-06-09 05:25] #277 closed, assigned to weswalla

[2022-06-09 05:25] #282 closed, assigned to Connoropolous

[2022-06-09 05:41] Connoropolous commented on #235
this has gotten better

[2022-06-09 05:41] #235 closed, assigned to Connoropolous

[2022-06-09 05:43] Connoropolous commented on #219
@pospi we need to flush out a plan for `myAgent`.
Wesley and I chatted and proposed that `createPerson` may need a field (boolean) with which to indicate if the Person Agent being created should be affiliated with the AgentPubKey creating it, such that when you would call `myAgent` it would do a `get_links` and filter by a tag that would have been set during the creation process. What do you think

[2022-06-09 05:46] Connoropolous commented on #219
I see now your prior comment on it here https://github.com/h-REA/hREA/issues/219#issuecomment-1079577254

[2022-06-09 05:59] #284 closed, assigned to nobody

[2022-06-09 05:59] Connoropolous commented on #284
done

[2022-06-09 06:08] Connoropolous opened #288 "createEconomicEvent.newInventoriedResource.name property is either not being persisted, or not being returned"
The issue can be seen below where `name: null` is returned on the response, on the economicResource

this:
[code]

returns
[code]

[2022-06-09 16:48] Connoropolous commented on #288
is basically an extension and aspect of #202 that got missed during the fix https://github.com/h-REA/hREA/commit/6c2aa53ee93bc1ace39554987e99d5eea992a070

[2022-06-09 18:05] Connoropolous opened #290 "update tryorama to 0.5.4 - new syntax"
this will help us unravel some of our little shims that we've added to fix tryorama ourselves

https://www.npmjs.com/package/@holochain/tryorama/v/0.5.4

[2022-06-09 19:47] #288 closed, assigned to nobody

[2022-06-09 21:08] Connoropolous opened #293 "documentation on DNAs and ValueFlows "Modules" needs updating now"
- [x] #294

To reflect this:
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/105

[2022-06-09 21:13] Connoropolous commented on #290
@pospi this is something we'd have likely wanted to do anyways, but it also is maybe a dependency for #291 which I'm pretty keen on.

I can take this action if you have no disagreement

[2022-06-10 05:20] pospi commented on #278
No, those fields aren't writable via `Plan`. The relationship on that side is `processes`- what needs to be checked is that creating a `Process.plannedWithin` updates the reciprocal index `Plan.processes`, and that both sides of the query return the correct results.

[2022-06-10 05:27] pospi commented on #279
Based on the fields present in the GraphQL it does seem like something we should partially keep.

@fosterlynn the only updateable `EconomicEvent` properties are `note`, `agreedIn` and `triggeredBy`. Would that be considered "safe" to change from a record keeping perspective? If not, what should be non-updateable?

I think it's probably best to remove `deleteEconomicEvent` entirely given what Lynn

[2022-06-10 05:30] pospi commented on #235
How are you thinking of documenting this at present? I figured the code would sorta be self-documenting now since there should be two sets of module IDs configured & mapped somewhere, but if you see the need for something to be elaborated on in fulltext let me know.

[2022-06-10 05:40] pospi commented on #219
I'm kindof of the opinion that this should always be done, and that agents are therefore always responsible for registering their own profiles.

In the case of someone making an agent profile for somebody (or more importantly, some*thing* else); they could always delegate ownership to a different `AgentPubKey` via a separate API method.

There is an awkward constraint here that `whois(some_agent_p

[2022-06-10 05:46] pospi commented on #290
None at all, go for it

[2022-06-10 05:52] pospi commented on #293
Might be worth splitting the wiki page documentation update into its own issue, for doing once we hit the MMR milestone? I don't see anything in there that really mentions VF modules, so there's nothing much to update in that respect. But the whole page needs a going-over at some point and checking for accuracy based on the final delivered product.

[2022-06-10 14:18] fosterlynn commented on #219
A couple things to double check.

Makes sense to me.

Noting that eventually, a Person type Agent will need to be able to have multiple holochain profiles / pubkey identities (for their different devices).  We don't need it right now, but it would be good to not preclude it with the data structure we put into place now.

I hope I understand what you are saying, apologies if not.  Can I suggest a s

[2022-06-10 15:18] Connoropolous opened #294 "update main README section on DNAs to be up to date with module breakdown and composition"
This section:
https://github.com/h-REA/hREA/blob/sprout/README.md#dna-modules-outer-holochain-layer

needs to reflect the changes that occurred here:
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/105

[2022-06-10 15:18] Connoropolous opened #295 "update ecosystem wiki to be up to date with module breakdown and composition"
https://github.com/h-REA/ecosystem/wiki/Modules-in-the-HoloREA-framework

needs to reflect the changes that occurred here:
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/105

[2022-06-10 15:21] Connoropolous commented on #293
Ok I've separated the two and made sub-issues.

"I don't see anything in there that really mentions VF modules"
Can you expand on this perception? The whole thing seems to be an explanation of `VfModule` in a way, no? Or are you seeing it as an explanation of the way the DNAs are sitting, and configured, and you're using the word "Module" to refer to that as well. ?

[2022-06-10 15:28] Connoropolous commented on #278
Ah. I expressed this wrong, sorry.

I meant to be referring to `Commitment` and its relationship with `Plan`. That is the `plannedWithin` that I was concerned with, and we (Wesley and I) were wondering if it shouldn't be the case that `CommitmentCreateParams` and `CommitmentUpdateParams` should have the `plannedWithin` field, which appears to be missing: https://lab.allmende.io/valueflows/vf-schem

[2022-06-10 15:29] Connoropolous commented on #278
@fosterlynn you also might be able to help us on this?

[2022-06-10 15:30] Connoropolous commented on #279
Ok so I am hearing about some proposals to do some upstream changes in `vf-graphql`.
Remove
- deleteEconomicResource
- deleteEconomicEvent

having done that, we could remove it here from this hREA project and implementation

[2022-06-10 15:31] Connoropolous commented on #290
Ok cool, I will

[2022-06-10 15:35] Connoropolous commented on #219
Ok, I hope it works, and that we don't run into real-world limitations where people aren't able to be onboarded, but it would still have been useful to represent them in the system. I can roll with this for now

[2022-06-10 15:36] Connoropolous commented on #219
Your second diagram makes sense and seems like a clear and good model to me Lynn

[2022-06-10 15:38] Connoropolous commented on #219
I am also just re-noting that Lynn wrote this in her original comment:
"Note that some REA Agents needed in holo-rea won't be in the DNA network, or even be in the holochain ecosystem (yet!). Like outside suppliers, for example. But they will still need to be recorded so they can be used."

[2022-06-10 19:23] fosterlynn commented on #278
Makes sense to me.

[2022-06-10 19:36] fosterlynn commented on #219
"Note that some REA Agents needed in holo-rea won't be in the DNA network, or even be in the holochain ecosystem (yet!). Like outside suppliers, for example. But they will still need to be recorded so they can be used."

I wasn't think about this above.  So, what to do about people (and organizations too I think) that are needed as data by a network.... but then might be needed as data by another

[2022-06-10 20:25] Connoropolous commented on #278
Ok that being the case I submitted a PR here, and requested @pospi review on it. Thanks @fosterlynn
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/merge_requests/107

[2022-06-13 01:36] Connoropolous commented on #290
@pospi
seeking your recommendation on something...

After updating some dependencies, including `tape` I am getting an error on a deepEqual comparison.

The contents are fine, but it seems to be failing because of an `Object: null prototype` on the object of the Graphql response. This seems to be a known thing.

I tried the proposed solution, which I don't much like, of `JSON.parse(JSON.stringify(

[2022-06-14 06:56] pospi commented on #293
Yes, exactly. There is nothing in that document to do with VF-GraphQL at all, it's entirely about the hREA DNA organisation. And depending on how flexibly we end up packaging them it might not actually make sense to talk about DNAs at all in the end? But we will see...

[2022-06-14 07:03] pospi commented on #219
Good point. I guess the assignment of the requesting `AgentPubKey` will have to be an optional step then. It could be done automatically for the first profile creation and not done if an existing profile exists? But that feels iffy. May be best to have 2 separate API endpoints after all.

Another possibility: another agent type for `ExternalAgent` which does not do the profile assignment like `Per

[2022-06-14 07:10] pospi commented on #278
Done! `0.9.0-alpha.5` now published

[2022-06-14 07:19] pospi commented on #290
Hrmm. Is it doing this for all object comparisons, or just some? If some, specifics would be good so I can investigate further. Maybe it only affects comparisons made on the toplevel object response?
I do recall seeing these prototypes before, but they weren't causing errors previously for some reason.

Also curious whether `require('assert').deepEqual` gives the same result, or we might shim it i

[2022-06-14 10:58] pospi commented on #220
A more complete set of requirements for this, given a page size of N:

- *All* query APIs must return records in a consistent sort order, no matter the query parameters provided
- Different ordering will need to be done independently of the query parameters

(and per #85, but should be considered now)-

- Pagination must work as expected (starting record given by its ID and able to read N records

[2022-06-14 16:36] Connoropolous commented on #293
Yeah ok. At least I know what is meant for that section. Thanks!

[2022-06-14 16:44] Connoropolous commented on #278
@weswalla
this is actionable now. There's a release of vf-graphql (0.9.0-alpha.5) that Pospi just did, that if updated to, contains the `plannedWithin` field for `CreateCommitmentParams` and `UpdateCommitmentParams`.

[2022-06-14 16:53] Connoropolous commented on #174
anything in this epic issue that's not already done has an open issue for itself, and it feels like we've cleared this one and everything it captured! Closing

[2022-06-14 16:53] #174 closed, assigned to pospi

[2022-06-14 16:59] Connoropolous commented on #295
turns out this is inaccurate

[2022-06-14 16:59] #295 closed, assigned to nobody

[2022-06-14 17:05] Connoropolous commented on #294
eh, I just re-read and with my new outward looking definition of "module" I read it as being ok

[2022-06-14 17:05] #294 closed, assigned to nobody

[2022-06-14 17:05] #293 closed, assigned to nobody

[2022-06-14 21:55] Connoropolous commented on #290
between the version of `tape` I upgraded from, and the version I upgraded to, `deepEqual` became strict by default, when it previously wasn't. I was able to repair the issue, after some digging, by using `deepLooseEqual` in its place

[2022-06-15 01:04] pospi opened #297 "implement indexes and resolvers for inScopeOf"
- [ ] `Intent.inScopeOf` (and its inverse query `Agent.intentsInScope`)
- [ ] `EconomicEvent.inScopeOf` (and its inverse query `Agent.economicEventsInScope`)
- [ ] `Plan.inScopeOf` (and its inverse query `Agent.plans`)
- [ ] `Process.inScopeOf` (and its inverse query `Agent.processes`)
- [ ] `Proposal.inScopeOf` (and its inverse query `Agent.proposalsInScope`)

`inScopeOf` should be `Vec<AgentAddr

[2022-06-15 01:30] pospi opened #298 "Implement simple inverse queries of `provider` and `receiver` on agent records"
A [PR to VF GraphQL](https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/issues/100) has to be made first before any of the simple [inverse query edges](https://www.valueflo.ws/specification/inverses/) can be implemented.

You can ignore
- any fields involving `X.inScopeOf` for now, pending #297
- any fields involving `EconomicResource.primaryAccountable` for now, pending #133

This only in

[2022-06-15 01:31] pospi opened #299 "Implement complex agent-based queries"
The spec on [inverses](https://www.valueflo.ws/specification/inverses/) lists many "other queries" which contain complex logic based on the values of other fields.

These query edges should be resolved in JavaScript, at the GraphQL layer. They will be a matter of retrieving / querying multiple records and aggregating them before returning a result.

#298 will need to be implemented first, since pr

[2022-06-15 01:31] pospi commented on #219
@weswalla a couple of notes from today's call, just for completeness.

- We will do a first PR of just profile storage and tests for agent CRUD before we move on to implementing relationships and queries in #298 & #299.
- Leave `inScopeOf` for now, we'll implement separately in #297

[2022-06-15 17:47] #290 closed, assigned to Connoropolous

[2022-06-15 18:48] fosterlynn commented on #219
That doesn't sound so much like an agent type, as perhaps something we could capture in RoleBehavior or something else around agent relationships.

Given the range of possibilities, can we just let the logged-on person (pubkey) decide what has to be done?  And offer the choices?  Or maybe think of it as completely different features in the UX:

* I'm a person agent setting myself up, and yes this

[2022-06-17 22:53] Connoropolous opened #300 "delete `zomes/agent_registration`"

[2022-06-17 22:54] Connoropolous opened #301 "implement `type` field on EntryData of zomes/rea_agent"
for this, we may not actually rely on the addition of `type` to `Agent` field upstream in vf-graphql. This will instead just be an 'internal implementation detail'. We may have to extend the native Agent typescript type, like

`type InternalAgentType = Agent & { type: string }` or something like that. For use in the zome call generic type signatures

[2022-06-17 22:58] Connoropolous opened #302 "for `createPerson`, allow to associate the current users AgentPubKey optionally with the person being created"
on the holochain side, do this by creating a link between the current users AgentPubKey and the newly created Agent entry, by its address.

[2022-06-17 23:00] Connoropolous opened #303 "implement `getMyAgent` query, and backend zome fn"
This depends on #302

Do a lookup from the current users AgentPubKey via `get_links` to any related Agent record. Just take the first one and return it. We will naively assume one-key one-person for now

[2022-06-18 00:04] Connoropolous commented on #152
this is accomplished in new agent zome

[2022-06-18 00:04] #152 closed

[2022-06-18 04:29] #278 closed, assigned to Connoropolous

[2022-06-19 10:21] pospi opened #305 "Debug statements not being output to console in integration tests"
Something in the most recent set of infrastructural updates has broken `debug!` output- it no longer shows in integration tests when running with my previous env vars or the ones defined in `test/package.json`.

May also be due to the most recent HDK update, but unsure.

Blocked on #221 until this is resolved.

[2022-06-19 17:50] Connoropolous commented on #305
sorry about the hiccup @pospi ! I did become aware of the issue at mid-point in the tryorama work, and worked my way upstream to tryorama (coordinating with Jost) for a fix. The fix made it in subsequently, in the Agent branch that's since been merged to `sprout`. Will try to improve on my communication of something like that

[2022-06-19 17:52] Connoropolous commented on #305
the solution is to merge `sprout` again into your branch, and to run `pnpm i` because this had to be fixed upstream in the tryorama dependency. As an aside, I am working through providing feedback to Jost on tryorama and in the meantime we are pointing at my temp fork of tryorama (@connoropolous/tryorama). As soon as the last fixes are in tryorama main, we can switch back to it

[2022-06-19 17:53] Connoropolous commented on #305
I've just run the merge of updated sprout into that branch. So just pull and `pnpm i` then

[2022-06-20 01:01] pospi commented on #305
Have done so, but still not getting any output (just a lot of verbose output from Holochain internals).

[2022-06-20 06:33] Connoropolous commented on #305
@pospi can you make sure that the branch is compiling, and have this in a place where I can test this on the branch myself as well. We are into territory now where this is an unknown issue to me. As general info, the binary being executed by tryorama is now the `hc sandbox` execution  context for holochain, instead of the `holochain` binary, but I don't see why that should have made the difference

[2022-06-20 21:51] Connoropolous commented on #305
wow this got really weird lol.  https://github.com/holochain/tryorama/issues/128

Anyways, I've dug my way to the bottom of it I hope. It still needs fixes, but there's an ability to get at those logs at least for now.

The solution is to set
`TRYORAMA_LOG_LEVEL=debug` for the time being. I am capturing both necessary upstream improvements needed as well as in-repo improvements

[2022-06-21 17:39] weswalla commented on #302
can I assume there is some boolean flag passed in to the zome function, something like `link_pub_key: boolean`? @Connoropolous

[2022-06-21 18:01] Connoropolous commented on #302
yes that's right

[2022-06-21 18:01] Connoropolous commented on #302
for now, just trial it by hardcoding the underlying inner zome call, in the mutations code

[2022-06-22 00:39] #300 closed, assigned to weswalla

[2022-06-22 10:23] pospi commented on #302
Would it be possible to also have it as an independent API endpoint? The flag can stay, or not- unfussed. That way newcomers can claim already-existing profiles and the like.

I suppose we also need some validation to prevent more than 1 profile being linked to the same `AgentPubKey`, but I'm guessing that's already done (just mentioning for completeness).

In addition to the validation, a useful

[2022-06-22 11:36] pospi commented on #298
Sorry for the delay on this @weswalla, I had an enormous document of inverse relationship names to work through and I wanted to make sure I'd done some thorough QA on them in the process.

Should probably have just done the "agent" ones as a release before doing all that, but oh well. `0.9.0-alpha.6` is now published and should have everything you need.

[2022-06-22 11:37] pospi commented on #298
@Connoropolous was there any other reason to limit this issue to the discussed fields above, or can we go ahead and implement every relationship for `Agent` that targets the other record types we've already implemented?

[2022-06-22 17:02] Connoropolous commented on #298
I was just looking at which parts are the most implemented already, and separating the scopes of work, so as to get smaller PRs and easier to reason about and read.

[2022-06-22 18:33] Connoropolous commented on #302
"I suppose we also need some validation to prevent more than 1 profile being linked to the same AgentPubKey, but I'm guessing that's already done (just mentioning for completeness)."
That validation isn't going to be possible, due to network partitions. We can't validate that kind of thing it's non-deterministic.

The most useful way to handle this is on the "read" side, not the "write" side I thi

[2022-06-22 18:34] Connoropolous commented on #302
@pospi if we do it with a separate API endpoint, how do we create a graphql layer for that, since its not in the Vf Graphql spec?

[2022-06-22 19:12] Connoropolous opened #309 "Agent whois method"
Create a generic 'whois' method and pass our own `AgentPubKey` out of the cell and back in again at the resolver level. Either way I expect the code can be genericised to serve both needs.

_Originally posted by @pospi in https://github.com/h-REA/hREA/pull/307#discussion_r903575474_

[2022-06-22 20:04] weswalla commented on #303
currently blocked until we determine if it returns a single agent entry, or a vec, which may require changes to vf spec

[2022-06-23 11:01] pospi commented on #303
Single agent entry please! We discussed inferring this from the user's local sourcechain and picking only the latest linked entry, which will resolve any duplicate link issues.

This would be a totally different logic to #309, but that is not needed for MMR.

[2022-06-23 11:04] pospi commented on #303
Thinking more about it, to prepare for #309 it would be best to add some validation to ensure that only a single link from an `AgentPubKey` to a profile can be made, and add logic to delete any existing links before assignment. Such validation should be safe to add for well-intentioned agents since all data necessary to make the check will exist on the local sourcechain.

[2022-06-23 11:08] pospi opened #310 "Implement validation to prevent agents claiming already-claimed profiles"
There may be situations where a "foreign" agent not in the network space has had a record created for them by somebody else, and wants to join & claim the profile later.

If we validate agent profile linkage as per https://github.com/h-REA/hREA/issues/303#issuecomment-1164272860 then this situation will fail validation. We can work around this by also allowing claims to be treated as valid if they

[2022-06-23 11:25] pospi opened #311 "Implement agent profile association for existing profiles"
This is an replacing #302 needed for compatibility with the GraphQL spec.

After some discussion with @mayel and the Bonfire team we have decided that signup / authorisation flows are too technology-specific to become part of the core spec. Bonfire has [several custom API endpoints](https://gist.github.com/mayel/880aea55a7a1b3a295fe036235636f82) that deal with registration, authentication and auth

[2022-06-23 11:46] pospi commented on #311
Implementing this will require extending the GraphQL spec with hREA-specific methods, which has not been done yet.

Upon reflecting on the current codebase it seems best to add these extensions within the existing `modules/vf-graphql-holochain` since they will be needed for any hREA client application.

This work plan is a draft, but hopefully will hold up as we work through it-

- [ ] Define a ne

[2022-06-23 11:46] pospi commented on #302
Please see https://github.com/h-REA/hREA/issues/311#issuecomment-1164308123 in answer to the above :slightly_smiling_face:

[2022-06-23 11:58] pospi commented on #309
To account for network partitioning with this feature, we will need to detect multiple links and handle gracefully.

For multiple links made from the same `AgentPubKey` this is reasonably easy to deal with- we can just pick the most recent. There should also be some validation around this per https://github.com/h-REA/hREA/issues/303#issuecomment-1164272860

For multiple claims against the same pro

[2022-06-25 19:40] Connoropolous commented on #302
closing this issue, as we are deciding to go with #311 instead

[2022-06-25 19:40] #302 closed, assigned to weswalla

[2022-06-29 02:00] #135 closed

[2022-06-29 02:10] #303 closed, assigned to weswalla

[2022-06-29 02:10] #311 closed, assigned to Connoropolous

[2022-06-29 02:10] #298 closed, assigned to weswalla

[2022-06-29 02:10] #301 closed, assigned to weswalla

[2022-06-29 02:12] Connoropolous opened #313 "REA Agent - Production-capable (minimum viable for ongoing usage)"
## Production-capable (minimum viable for ongoing usage)

What's missing from the simple MVP above is validation / ownership of profiles; and an ability to deal with updates to data.
- [ ] #297
- [ ] #299
- [ ] add validation to prevent edits to agent profiles other than by the agent who created them
- [ ] implement a means for agents to attest that another agent key belongs to them, adding the ne

[2022-06-29 02:13] Connoropolous commented on #219
I'm closing this one and have shifted out the bigger scope of work into the backlog as #313

[2022-06-29 02:13] #219 closed, assigned to weswalla

[2022-06-29 05:22] pospi opened #315 "GraphQL explorer interrupted with error popup after Webpack upgrade"
Looks like (absence of) the use of polyfills has caused the Holochain web client to break-

![image](https://user-images.githubusercontent.com/437540/176357889-a95f3fb1-a05f-4234-80b4-57b60c0fd825.png)

[2022-06-29 05:30] Connoropolous commented on #315
I'll get on this tomorrow. In the meantime I do believe you can close it and access it. At least on mine you could.

[2022-06-29 12:23] fosterlynn commented on #133
To add to the above explanation, and I see this is not totally clear in the VF spec, the following event actions should set the resource's `primaryAccountable` agent to the event's `receiver` agent.
* produce (the resource being created by the event, if there is one) [edited]
* transfer (`toResourceInventoriedAs` resource)
* transfer-all-rights (`toResourceInventoriedAs` resource)
* [edit] raise (

[2022-06-29 15:38] Connoropolous commented on #133
thanks Lynn

[2022-06-29 16:23] Connoropolous commented on #315
I've logged these issues (see above) and tried quite hard this morning to provide a fix. At the moment I can't find my way through one.

I will circle back once I hear more from others, on the issues logged

[2022-06-29 16:24] Connoropolous commented on #315
sorry about the open/closing issue.
It keeps happening to me that I use `Command + Enter` to add my comment but that now seems to close the issue when previously it would just leave a comment

[2022-06-29 16:25] weswalla commented on #133
@Connoropolous @pospi do we need to add `EconomicResourceCreateParams` and `EconomicResourceUpdateParams` to https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/blob/sprout/lib/schemas/bridging/agent.observation.gql

[code]

[2022-06-29 17:28] Connoropolous commented on #133
for the record, Wesley and I discussed this in a chat, and the answer being 'no'

[2022-06-29 21:23] Connoropolous commented on #133
@fosterlynn is `raise` included in the set of actions that set `primaryAccountable`? Perhaps only if it uses `newInventoriedResource` instead of `resourceInventoriedAs`?

[2022-06-29 21:37] fosterlynn commented on #133
Absolutely right.  Thanks for the catch!  Yes, only if it is creating a new resource, otherwise not.  I edited the list above so it is in one place.

[2022-06-30 04:31] pospi commented on #315
hah, thanks Microsoft :stuck_out_tongue_winking_eye:
Thanks for taking a look for me, sorry I keep bumping into trivial things and thinking they are more severe than they are! I was actually getting a white screen on closing the popup but this turned out to be due to outdated NPM dependencies.

[2022-06-30 04:37] #305 closed, assigned to Connoropolous

[2022-06-30 04:45] pospi commented on #133
@fosterlynn what about `lower`? I do believe sometimes we initialise inventories with negative balances, maybe it should behave the same as `raise` for `newInventoriedResource`?

[2022-07-01 23:44] weswalla opened #318 "update_index macro removes extra indexes"
In implementing #316, I think I may have come across a bug (or I'm not using `update_index` properly). In the tests here https://github.com/h-REA/hREA/blob/feature/133-economic-resource-primary-accountable/test/agent/test_economic_resource_primary_accountable.js

I create two economic resources, which at first are both associated with bob as primaryAccountable. bob.inventoriedEconomicResources ret

[2022-07-02 05:27] #133 closed

[2022-07-02 09:04] pospi commented on #275
This will be quite an extensive refactor- we will need to update all the index handling logic to use split integrity/coordination zomes to manage the updates via `post_commit` hooks. In doing so it is hoped that such cascading updates can be handled more gracefully, and `debug!` statement related to indexing removed.

We may also have to update tests unrelated to Agent data but featuring Agent lin

[2022-07-02 09:12] pospi opened #319 "Inject random data into newly created records to ensure uniqueness."
Sometimes, different records have the same field values. We encountered this in #318 where separate `EconomicResources` might be created by associated `EconomicEvents` but end up with the same `EntryHash`, causing uniqueness problems that can affect indexing and other relationships between different bits of data.

To work around this, we should insert some random bytes into an internal storage fie

[2022-07-02 09:12] pospi commented on #318
Symptom of #319

[2022-07-02 09:12] #318 closed, assigned to nobody

[2022-07-02 22:14] Connoropolous commented on #310
In a sense, this is now achieved, via `associateMyAgent`. This should be reframed, if it is to stay open, as bringing in sets of validation rules

[2022-07-02 22:15] Connoropolous commented on #309
@pospi remind me again, why is this needed? I don't see the need for it

[2022-07-02 22:16] Connoropolous commented on #309
what is the intended function signature?

[2022-07-02 22:20] Connoropolous opened #320 "define graphql resolvers for remaining 'read all' endpoints"
For each of the following, two things should be added:
1. the resolver
2. test code in `test` that exercises the endpoint

Since `economicResources` and `economicEvents` are done, they can be used as an example to base off of

e.g. `readAll` and `economicEvents` in this snippet:
https://github.com/h-REA/hREA/blob/81c2b0097d92cce4cd475e3e191a2d90fa30ee61/modules/vf-graphql-holochain/queries/economi

[2022-07-02 22:45] Connoropolous opened #321 "Implement AgentRelationship & AgentRelationshipRole classes: zomes + resolvers + tests"
All of this should simply be added to the `agent` Dna

https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/blob/sprout/lib/schemas/agent.gql#L104-125

- [ ] add AgentRelationship zome, including index
- [ ] add AgentRelationshipRole zome, including index
- [ ] add all the graphql stuff in `modules/vf-graphql-holochain` that is outlined below
- [ ] add tests under `test/agent`

Don't do: `Ag

[2022-07-02 22:48] Connoropolous commented on #321
hi @pospi and @fosterlynn I have defined a scope of work for AgentRelationship and AgentRelationshipRole here.

It looked pretty clear, but I have one question:

how does this `Agent.roles` work? It's signature looks a little outdated
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/blob/sprout/lib/schemas/agent.gql#L99

[2022-07-03 19:15] Connoropolous opened #322 "Query.offers & Query.requests"
https://lab.allmende.io/valueflows/vf-schemas/vf-graphql/-/blob/sprout/lib/schemas/proposal.gql#L123-126

https://www.valueflo.ws/specification/inverses/#proposal

not intended as part of the MMR scope. Just capturing into the backlog for completeness for now

[2022-07-03 20:38] Connoropolous opened #323 "throw 'unimplemented' errors for API queries that aren't and won't be implemented within MMR scope"
currently, when you graphql request for `Agent.relationships`, for example, you just get `null`. Preferable would be to get an error back, informing the developer the endpoint isn't implemented yet. Otherwise they won't know if they're just getting a normal null field or an unimplemented one.

## Query
This would all happen here: https://github.com/h-REA/hREA/tree/sprout/modules/vf-graphql-holocha

[2022-07-03 21:07] #151 closed

[2022-07-04 00:47] Connoropolous commented on #323
@pospi and @weswalla FYI I am beginning the effort to try to document which relational edges, of those that are enabled in DEFAULT_VF_MODULES, are actually implemented. Even if something is going to get done soon-ish, its still worthwhile to do this since it gets us all on the same page, and allows for any that do end up falling out of scope.

I am using the Graphql Explorer + the modules/vf-graph

[2022-07-04 06:45] pospi commented on #309
It's not a MMR milestone feature, but will be needed once hREA is integrated with other non-REA components in a fully-featured economic network (eg. file attachments, location mapping) so that resolvers have a way of mapping raw Holochain public keys to Agent profile data; eg. so that we can determine the author of an uploaded file.

[2022-07-04 06:50] pospi commented on #321
I think it's just meant to list all the roles that have been assigned as relationships to that agent. But it might not be that necessary for an MVP, I struggle to think of cases where this is useful whilst querying the relationships of an Agent is obviously an important thing.

[2022-07-04 07:52] pospi commented on #272
@Connoropolous how are you feeling about this one, should we action it or leave them as they are? Curious to hear which ones *aren't* named "rea_"- if it's just the agent zomes I do think that makes sense (since that's more FOAF than REA).

[2022-07-04 07:55] pospi commented on #221
Actually, fine to close this. #222 tracks cursor-related stuff.

[2022-07-04 07:55] #221 closed, assigned to pospi

[2022-07-04 08:43] pospi commented on #320
Note that there's no need to test the cursors or pagination metadata for other endpoints as we're doing in `event_resource_list_api.js` since all endpoints are generated from the same macro. It's enough to simply verify that the outputs are returned in a list in the correct reverse insertion order.

[2022-07-04 09:07] pospi opened #325 "remove client-side ID encoding logic and pass IDs as strings in I/O"
With the changes in #324 we should be able to remove the custom JavaScript-layer de/serialization in `connection.ts` in vf-graphql-holochain by changing the Rust RPC `Response` types and `construct_response` helpers to be passed as strings.

This is easy for `revision_id`, which can use `HeaderHashB64` for its external representation and convert `.into()` a `HeaderHash` in the `get_revision_id()`

[2022-07-04 11:31] fosterlynn commented on #321
Yeah, can't even remember why that might be particularly useful.  I would take it out of MMR or maybe out of hREA.

[2022-07-04 11:50] fosterlynn commented on #272
I don't have an opinion on the general question, but I wouldn't worry in general about which rdf-based vocabulary something came from.  REA needs agents as much as resources and events, we just made an effort to re-use in the context of rdf, semantic web, which doesn't have much to do with holochain and won't make sense to people.  For that matter, there isn't any "REA", just "VF".  And FOAF doesn

[2022-07-04 23:52] weswalla opened #327 "conditionally inject 'Person' or 'Organization' `__typename` field based on `agentType` field"
places to do this:
- https://github.com/h-REA/hREA/blob/60a8a4edf1d1766aaa25d0b56e3dd2dd8dd1b0c4/modules/vf-graphql-holochain/queries/agent.ts#L52
- https://github.com/h-REA/hREA/blob/60a8a4edf1d1766aaa25d0b56e3dd2dd8dd1b0c4/modules/vf-graphql-holochain/queries/agent.ts#L66

[2022-07-05 00:57] weswalla opened #328 "query all commitments and intents returns duplicate entries"
This error is not produced consistently.
When running the tests in the following file,
https://github.com/h-REA/hREA/blob/bade910615e6f8fae43267457ec4d430ccee4f3d/test/process/process_records_e2e.js#L153-L169
some runs pass, where others return 10 edges instead of 2, but its just duplicates of the 2. For example, the console log is the following:
[code]

[2022-07-05 00:57] weswalla commented on #328
@pospi any idea why this is happening?

[2022-07-05 05:45] pospi commented on #321
I guess it may be useful to know "in what types of roles does this entity participate"?

[2022-07-05 05:52] pospi commented on #327
Hmm, I'm actually not sure that is the correct location for it. (But not *100%* sure).

I think the ideal is for the backend to drive this, and it will need to do so eventually as we are yet to have a way to read all people independently of reading all organisations.

*So*- I think we will need this to be handled in the backend in a way that the frontend can infer types from. Those `injectTypename

[2022-07-05 05:57] pospi commented on #328
No. @Connoropolous is there anything in the Tryorama setup that might be reusing conductor working directories?

I did encounter a weird situation a couple of days ago where it seemed as though I was getting old WASM errors being returned from a previous test run... without changing any code I re-ran and they went away for no discernable reason.

[2022-07-05 18:21] Connoropolous commented on #327
How would we know when to throw a validation error versus just to suppress the proposed changes (which is what I think we currently do). Probably there are lots of circumstances that have been written into the codebase such that it won't error but rather simply not update

[2022-07-05 18:45] Connoropolous commented on #327
Ok so... it sounds like we are going to up-scope this issue a little bit. That's ok.

The goal then is to create two indexes within Agent, one for people and one for organizations

@weswalla if we are going to do this, here's what I've found about this:

Here is an example of a create_index! with only one type instead of two
https://github.com/h-REA/hREA/blob/06bc44c1c75739ddfb67c44a5202654f73dc22

[2022-07-05 19:02] Connoropolous commented on #328
Not that I know of. Let me run a few times see if i can reproduce

[2022-07-05 23:55] pospi opened #329 "Configure unit tests via HDK mocking framework"
Some starting work has been done on this as part of #268, but it needs to be worked through in order to achieve #85 since the logic is quite complicated and will need to be unit tested in isolation.

This is basically a case of completing the test helper macros in https://github.com/h-REA/hREA/blob/sprout/lib/hdk_time_indexing/tests/src/helper_macros.rs to a usable standard for testing the indexin

[2022-07-06 00:02] pospi commented on #264
We should revisit this after #275 since it will have a significant impact on the appropriate pattern for managing cross-zome data integrity.

[2022-07-06 00:27] pegahvaezi commented on #327
[code]
[code]

[2022-07-06 00:28] pegahvaezi commented on #327
also add `agent_type` to QueryParams

it's value type is `String`

leave a  comment that it's internal
https://github.com/h-REA/hREA/blob/c7092a0b886bf1dbee81876f7627bf5783b33355/zomes/rea_agent/rpc/src/lib.rs#L142-L159

[2022-07-06 00:34] pegahvaezi commented on #327
for example, use the same or similar as resolvers use:

https://github.com/h-REA/hREA/blob/7025be075758f4d947364c07aab0aca7cb262f0f/modules/vf-graphql-holochain/resolvers/process.ts#L39

and pass params:
https://github.com/h-REA/hREA/blob/7025be075758f4d947364c07aab0aca7cb262f0f/modules/vf-graphql-holochain/resolvers/process.ts#L58

[2022-07-06 00:42] weswalla opened #330 "read all units query failing to resolve"
calling `read_all_units` after 2 units have been created returns the following error:
[code]

[2022-07-06 00:51] pospi opened #331 "Implement first pass at ordering of filtered resultsets in query APIs"
A more complete set of requirements for this, given a page size of N:

- All `query_*` APIs must return records in a consistent sort order, no matter the query parameters provided
-   Different ordering will need to be done independently of the query parameters

Some work has already been done on this in https://github.com/h-REA/hREA/tree/feature/220-ordered-query-apis however it seems there are a

[2022-07-06 00:57] pospi commented on #330
This might be a core data architecture problem with the indexing library since all its index pointers are based on `DnaAddressable` and Unit is unique in that it's externally identified by a `DnaIdentifiable` instead (see `hdk_uuid_types`).

I'll have a look through and see if there's an easy fix. If not the workaround will be to add a separate API endpoint for querying them by the (in this case i

[2022-07-06 02:24] weswalla commented on #327
gives the following error:
[code]

and

[code]

[2022-07-06 03:10] weswalla commented on #327
@pospi @Connoropolous not quite sure the best way to deal with the trait bound requirements in this situation. Is it even possible for the destination of the create index to be a string, or will we need to create a custom type implementing the required traits?

[2022-07-06 03:45] weswalla commented on #323
How would we do this? Define a custom gql error type and throw it in all the above resolver functions?

[2022-07-06 04:56] Connoropolous commented on #323
I think it would just look like a regular javascript error, which is like

[code]

[2022-07-06 15:55] fosterlynn commented on #330
A note on units, in case it helps.  If not, please ignore.  I think the way units will work both now and long term is that groups will choose from the big list (now manually, later in an app of some sort).  The chosen units will get loaded into the group's zome/dna/dht.  In other words, there wouldn't be ongoing hits to the big unit list, and it would be like any other data.  (I could be wrong of

[2022-07-07 01:58] Connoropolous commented on #329
@pospi I am thinking about this...

what about actually adding this to `hdk_unit_testing` crate? I am thinking about taking it on, and doing a full pass

[2022-07-07 21:32] Connoropolous commented on #325
@pospi
I am having some discussion in Kasra about this. Michael Dougherty is recommending against use of HoloHashB64 encoding for zomes...

It might actually be the case that the client side encoding will be more idiomatic for holochain

[2022-07-07 21:32] Connoropolous commented on #325
the `id` values passed from the backend could just be an array of
39 + 39 bytes, i.e. the length of two holohashes. That way it still acts as a single value

[2022-07-08 00:22] #222 closed, assigned to pospi

[2022-07-08 00:28] pospi commented on #329
The helper macros? Sure, if you want to. I would have logged something to split them out for reuse later anyways.

I basically wanted to wrap up some abstractions so that there were simple ways of wiring up mocks *at the same layer of abstraction as the HDK client library*. So basically, if there is a method for `get_entry` that accepts an `EntryHash` and returns some typed `Entry` then there shou

[2022-07-08 00:32] pospi commented on #325
I did have custom serialization logic at one point, maybe we should reinstate it then. We could also trim off some extra bytes while we're at it by dropping the hash prefixes.

I take it the reason is basically about code size bloat due to inclusion of the B64 encoding library?

[2022-07-08 01:29] pospi commented on #330
@fosterlynn it's actually likely that having the big shared list would be a better architectural pattern in Holochain. The reason being that this creates a larger set of peers holding the DHT, and that means better availability and faster sync speed for globally-shared datasets such as units of measurement.

[2022-07-08 02:22] pospi commented on #309
Adding this to MMR since we will need it for #40. The only metadata we can get out of the local `Cell` is an `AgentPubKey` so the resolver for `Revision.author` will need to pass through `whois` in order to resolve the associated REA Agent.

[2022-07-08 02:23] pospi commented on #309
Suggest we do the simple (unvalidated) version of this, merge, and then update the issue to deal with the validation specifics for future work.

[2022-07-08 05:34] Connoropolous commented on #325
Yeah technically that's the only concrete reason cited. I'm not sure if that's a good enough reason not to use it. It might be. Depends how strongly compression and size optimization becomes a concern.

"HoloHashB64, that was meant to be internal only, but needs to be used between crates so it had to be made public. Also, it bloats the wasm size a bit since it needs to include extra deps for the e

[2022-07-08 05:36] Connoropolous commented on #329
Yeah, I share your goal of having the things that you can call be equal to the HDK function signatures.
I'm fine either way, I'll see what looks like is making sense when I am gearing up for actually doing the work.

[2022-07-08 05:40] Connoropolous commented on #309
Agreed.

what do you mean by the part about 'get out of the local Cell'? if there is resolving of an AgentPubKey to an AgentAddress to do, can't it be done internally to the zome of interest?

[2022-07-08 05:47] pospi commented on #309
no, unfortunately only zomes co-located with the Agent storage zome can do that

[2022-07-08 05:50] Connoropolous commented on #309
ah, I think I see. so it has to either, get resolved at the graphql resolver layer, or another option could be using some of your `call` plumbing and 'remote_auth' to resolve it before passing back through the WASM boundary

[2022-07-08 06:08] Connoropolous commented on #328
I have a theory about this, now that I've just seen something similar.
I believe it may be occurring when multiple people are executing code against the tests at or around the same time. This would mean gossip, and that would mean extra entries. bizarre but true. It's actually happened to me before in other circumstances. I just tweaked my local `uid` property of dna bundles, repackaged, and my er

[2022-07-08 06:37] Connoropolous commented on #323
@weswalla as soon as I can I'll continue my review of these, and post the rest. This for sure wasn't all of them. It was just quite a manual process to figure them out case by case

[2022-07-08 11:19] fosterlynn commented on #330
Thanks, understood.  We do need a way for each network to know or have its own list of units though.  So if there is a holochain-wide list kept in holochain itself that is referenced for the data, we'll need to add something for that.  If we need to think more about it, let's start a new issue, sorry for taking this on OT.

[edit: I have extracted the units from OM2 for the REA Playspace work, and

[2022-07-08 14:32] #320 closed, assigned to weswalla

[2022-07-08 14:33] #330 closed, assigned to pospi

[2022-07-08 14:34] #327 closed, assigned to weswalla

[2022-07-08 14:42] Connoropolous commented on #84
I want to close this one now, we have issues that are more specialized:
#85 for pagination
#331 for ordered results for query_*

[2022-07-08 14:42] #84 closed

[2022-07-08 14:48] Connoropolous commented on #220
I've moved the details from the last comment  above over to the relevant issues
#85 for pagination
#331 for ordered data for queries

with that I'm going to close this one, it feels redundant and dilutes the clarity

[2022-07-08 14:48] #220 closed, assigned to pospi

[2022-07-08 15:59] Connoropolous commented on #297
@pospi in order for this `inScopeOf` confusion to be cleared up, we need to understand one main thing:

1. should it be a `Vec<String>` or `Vec<AgentAddress>`?

At the moment, it all looks like Vec<String>. See the confusion here:
https://github.com/h-REA/hREA/commit/e87a1d0f931c0886270d6fbd9c236177cedc4303

[2022-07-08 16:43] Connoropolous commented on #153
@pospi I think this might be up for getting done in MMR. I've updated the original description with what I think would be the work plan. Can you vet it when you get a chance? Not urgent.

[2022-07-08 16:58] Connoropolous opened #334 "Add `ResourceSpecification.resourceClassifiedAs`"

[2022-07-08 18:47] fosterlynn commented on #321
We can wait to find out if anyone needs it, there are lots of unimplemented and probably-never-to-be-implemented queries.  Just imo.

[2022-07-08 18:54] fosterlynn commented on #321
I want to describe what RoleBehavior is for, so you can decide if you want to leave it out or add it back in.

Since the AgentRelationshipRoles are totally user defined, it is helpful for UI apps to have an understanding of what roles go where in an app.  Like these roles are all members, or these are suppliers, or these are parts of the organization.  Of course, these apps can also check the role

[2022-07-09 21:38] Connoropolous opened #335 "implement query and test for `plans`"
I missed it in my work plan for #320

basically like #320 but for `plan`

[2022-07-12 14:25] #323 closed, assigned to weswalla

[2022-07-12 14:42] #335 closed, assigned to Connoropolous

[2022-07-12 21:47] pospi commented on #309
Yeah. And I would prefer to do it externally, since it's easier to cache data there and the additional load of fetching an agent entry for *every record* retrieved from the DHT seems like a not-very-good way forward.

[2022-07-12 21:48] pospi commented on #328
lol that's hilarious. So even sandboxed conductors gossip across the globe? Seems weird. I'm gonna run this by Eric (:

[2022-07-12 21:52] pospi commented on #330
I haven't really decided yet tbh @fosterlynn. But we have an architecture that's flexible enough to handle all cases.

The ideal seems like well-known units would be referenced from a globally-shared DHT, and collectives may additionally include their own units in a group-local DHT. By the time we're done we will be able to stitch together as many different DHTs of the same data as we like, and tr

[2022-07-12 22:04] pospi commented on #297
They should all be `Vec<AgentAddress>`. @fosterlynn and I decided a long time ago (in talks with Bonfire) that agents were the only valid scopes for things.

Don't use `Option<Vec<AgentAddress>>` btw, it's unnecessary cos serde can skip empty vectors in serialisation with the right macro annotations anyway.

The other gotcha with this is that you can't use `create_index!` since it is a convenience

[2022-07-12 22:10] pospi commented on #153
That looks good, the method you've indicated is currently where the event math logic gets determined. But depending on how major these changes are to the internal logic of `EconomicEvent` & `EconomicResource` there may be a need to split that method out more to return separate data for handling both the `resourceInventoriedAs` and the `toResourceInventoriedAs` separately- I'm just not sure whether

[2022-07-12 22:14] pospi commented on #321
I'm mostly avoiding it and leaving it out, since it is such an unstable part of the spec. I would rather domain-specific app logic is dealing with conditions based on `AgentRelationshipRole` for now, and could be updated later if those checks ever become too complicated or verbose.

[2022-07-12 23:37] Connoropolous commented on #328
yes it looks like the default network type is quic
https://github.com/holochain/tryorama/blob/31f5fd86cc98f1e290ef7deed176b13aa79d6ea2/ts/src/local/conductor.ts#L188

it might not gossip across the internet without a proxy, but it's possible it could make a network connection with the other CI test runners which are running in parallel.

[2022-07-12 23:38] Connoropolous commented on #328
the `sandbox` doesn't necessarily imply non network active

[2022-07-12 23:42] Connoropolous commented on #297
ok that's making sense

[2022-07-14 03:35] pospi opened #337 "Implement correct ordering of filtered resultsets in index query APIs"
Some work has already been done on this in #336 however there is a limitation in the data architecture since indexes for remote entries are not being passed timestamps for correct ordering when created.

For example, querying record IDs for `Agreement.commitments` happens within the Agreement DNA, adjacent to the `Agreement` CRUD zome. Only `Agreements` are added to a time-ordered index here- not

[2022-07-14 03:42] pospi opened #338 "Add orderBy params to allow ordering by multiple sets of time indexes"
At present, things are only ordered by creation time (and "indexed" time, per #337).

We should expand upon query & "read all" APIs to allow passing "orderby" parameters for sorting. This will require building multiple time-ordered indexes for records based on the values of various record-specific fields (eg. `EconomicEvent.hasPointInTime` or `hasBeginning`). There will also be a few "core" orderi

[2022-07-19 15:37] #331 closed, assigned to pospi

[2022-07-20 23:44] Connoropolous commented on #275
"we will need to update all the index handling logic to use split integrity/coordination zomes to manage the updates via post_commit hooks. In doing so it is hoped that such cascading updates can be handled more gracefully, and debug! statement related to indexing removed."

This sounds like added scope. Unless I'm missing something which is very possible, this sounds like something unnecessary to

[2022-07-20 23:45] Connoropolous commented on #275
"We may also have to update tests unrelated to Agent data but featuring Agent links to actually create the agents in question. Currently the indexing situation swallows / ignores many CellMissing errors that are related to mocked AgentAddresses."

I also don't think we will have to do this.

[2022-07-21 04:53] #319 closed, assigned to nobody

[2022-07-21 04:53] pospi commented on #275
Yeah, two phases for these updates I think.

[2022-07-21 15:26] Connoropolous commented on #275
@pospi I've started this, and have assigned it to myself for now, but am also happy to collaborate on it, we would just need to coordinate our actions.

[2022-07-21 15:27] Connoropolous commented on #275
There is this one to review: https://github.com/holochain-open-dev/dna-auth-resolver/pull/3
and this one is up and just getting started in draft: https://github.com/h-REA/hREA/pull/340

[2022-07-21 15:28] Connoropolous commented on #329
I unassigned you and assigned myself since this is coming hand-in-hand with the #275

[2022-07-22 06:03] pospi opened #341 "Update internals of `hdk_records` to use `get_optimistic` once implemented"
The docs for `hdk::get` state that a network request is *always* performed.

There are various locations in this library, particularly within `entry_helpers`, where metadata about a just-created entry is fetched from the DHT to be returned to the caller. Using this new method will ensure such actions only talk to the local conductor and are optimised to reduce network requests.

[2022-07-23 02:38] pospi opened #342 "update action identifiers to camelCase to match VF core spec"
deliver service, transfer all rights and transfer custody need to have their identifiers changed in the hardcoded built-in actions.

[2022-07-23 16:33] Connoropolous opened #343 "follow-ups to 'revision_meta'"
Still to do: needs some tests in `core-architecture` to assert that the data is returned and that it changes after an update. There may also be some work to do in the GraphQL layer but I'm pretty sure both `id` and `time` will be passed through without intervention. Possibly the `history` module needs to be enabled in the VF-GraphQL modules whitelist as well.

_Originally posted by @pospi in https

[2022-07-25 13:12] Connoropolous commented on #153
Okay great. Noted

[2022-07-26 19:50] Connoropolous commented on #181
proposing to delete those instead, in #344

[2022-07-27 21:20] Connoropolous commented on #315
This commit will fix this issue, though for now it points to a fork

https://github.com/h-REA/hREA/pull/340/commits/3a6365e38e83850a3ed902620a94fa70df1b3e76

getting it back off the fork and depending on @holochain/client will require us to resolve: https://github.com/holochain/holochain-client-js/issues/116

[2022-07-28 18:22] pospi commented on #343
- [x] still needs to return the time field in a native JS date format

[2022-07-29 23:25] #309 closed, assigned to nobody

[2022-07-30 20:55] pospi commented on #343
whoops, accidentally pushed the last of this straight to `sprout` so closing as completed by ce5a3f43 & c4828310

[2022-07-30 20:55] #343 closed, assigned to nobody

[2022-08-01 01:02] Connoropolous commented on #40
@pospi do we consider this work done?

[2022-08-01 01:05] Connoropolous commented on #315
I updated sprout to include a forked version of @holochain/client @ 0.4.3 version

So that fixes this for now.

[2022-08-01 01:05] #315 closed, assigned to Connoropolous

[2022-08-05 07:27] pospi commented on #40
I don't think we have anything logged separately for full revision metadata, so I'll update the issue title to reflect what's needed.

[2022-08-05 07:34] pospi opened #346 "Return previous revision metadata with records to allow UIs to recurse backwards through record versions"
`RecordMeta.previous_revision` needs to be returned in order for applications to have basic abilities to retrieve earlier versions and determine record provenance.

[2022-08-05 07:38] pospi opened #347 "Return original revision metadata with record responses"
`RecordMeta.original_revision` should be returned in order for UI apps to easily determine the details of the original creation of a record. In addition `RecordMeta.previous_revisions_count` should be set so that the number of older revisions is easily determined.

[2022-08-05 07:44] pospi opened #348 "Return future revision metadata with all record responses"
`RecordMeta.latest_revision` should be returned in responses so that the latest live version of a record is easily located. In addition `RecordMeta.future_revisions_count` should be returned so that applications can easily display revision history summaries adjacent to record data.

This might have some implications regarding #196. There may also be shortcuts involved- for example, if `get_*` API

[2022-08-05 11:22] Connoropolous opened #350 "fix input object type signature for vf-ui/graphql-client-holochain"
Both 'conductorUri' and 'dnaConfig' should be optional, but aren't currently. Since that makes everything optional, the whole `options` object should be optional

This is important because this is the primary entry point for app devs

[2022-08-05 11:23] Connoropolous commented on #350
![Screen Shot 2022-08-05 at 7 23 14 AM](https://user-images.githubusercontent.com/1409121/183067605-8e78b934-36b9-489b-920b-1748bfd0ffb5.png)

[2022-08-05 12:21] Connoropolous commented on #350
Closely related:

https://github.com/h-REA/hREA/blob/285148d36293ef318bdd8504aebc093c70ee5eb4/modules/graphql-client/index.ts#L32-L33
This code is buggy because it fails to handle when `conductorUri` value is empty, not passed, and actually set by the environment variable.

it should take `conductorUri` back out of the result, and assign it to the options object

[2022-08-05 14:53] Connoropolous commented on #40
Nice, love the work breakdown.

[2022-08-05 15:43] #346 closed, assigned to pospi

[2022-08-05 16:35] pospi opened #351 "Add zome API endpoints for retrieving previous record revisions by `ActionHash`"
API methods to retrieve specific (stale) revisions of records must be implemented for all relevant record types (basically exposing `read_record_entry_by_header` to the frontend). These should be linked to `revision(revisionId: ID!)` query edges for all record types (this is part of `VfModule.History`).

[2022-08-05 20:25] pospi commented on #40
With the remaining two issues (#347 & #348), because they are quite heavy in terms of DHT ops it will be best to implement them as optional return data. `read_revision_metadata_abbreviated` should include #346 and #40 only.

To support these changes, and `read_revision_metadata_full` should be further split apart to support independently loading original & latest revisions where the data is alread

[2022-08-05 20:25] pospi commented on #348
see https://github.com/h-REA/hREA/issues/40#issuecomment-1206834973

[2022-08-05 20:25] pospi commented on #347
see https://github.com/h-REA/hREA/issues/40#issuecomment-1206834973

[2022-08-05 20:27] pospi opened #352 "Automate publication of node modules based on dual-tag release management process"
- [ ] configure Github CI pipeline with npmjs.com project publish authorization
- [ ] setup Github build job for PNPM to rebuild & publish node modules, triggered on tag `npm-modules-[0-9]+.[0-9]+.[0-9]+**`

[2022-08-05 20:28] pospi commented on #352
- [x] also need to fix the trigger for the `happ-[0-9]+.[0-9]+.[0-9]+**` tag while we're at it, doesn't seem to be triggered

[2022-08-05 20:50] Connoropolous commented on #352
I realized it's because the tag was on a commit that was prior to the change to the Github Actions workflows instructions. I propose just to tag current tip of `sprout`

[2022-08-05 21:05] Connoropolous commented on #352
I've just pushed one or two fixes to the workflow file, to make this work, and I've tagged sprout as happ-0.0.1-alpha.6

[2022-08-05 21:07] Connoropolous commented on #350
@pospi FYI these are some super top priority fixes for me that I plan to work on, that fix the API for graphql-client-holochain

[2022-08-06 12:35] pospi commented on #350
I'm not sure that's true. If the value is undefined, it shouldn't matter. Agree the empty object is a problem.

So the call signature for the main client entrypoint becomes `options?: ClientOptions` and we add an initialiser for `options || (options = {})`.

From there I think it should be fine- `bindSchema` opens a connection with the same default value logic for `conductorUri` that `autoConnect`

[2022-08-07 02:21] Connoropolous commented on #350
I did a pass on this today @pospi and that's up in #353 .

"I'm not sure that's true. If the value is undefined, it shouldn't matter. "
It was a problem because in graphql-client, there was stack trace where you have `connect` -> `initGraphQLClient` -> `bindSchema` -> `generateResolvers` -> `openConnection` and so it bypassed the intelligence of `autoConnect` at picking up the environment variable

[2022-08-07 07:04] pospi commented on #350
That is desired functionality though in some certain cases, where the application might want to manually connect to some specific application cells. In those cases you would do so by calling `openConnection` and then using the same `conductorURI` when calling `zomeFunction` later. I think this will still be possible with the changes you've made but just want to note for clarity. This is important

[2022-08-07 10:05] Connoropolous commented on #350
This is the issue I was having, that I am fixing. It throws an error so I'm certain it's not desired behaviour, what I'm talking about.
![Screen Shot 2022-08-07 at 6 03 02 AM](https://user-images.githubusercontent.com/1409121/183285732-1bac6f43-a3c3-4a93-81f2-e47d2e77657a.png)

What it sounds like you're talking about is being able to set conductorUri value, and have it be respected, which will wo

[2022-08-07 11:39] #350 closed, assigned to Connoropolous

[2022-08-13 21:39] Connoropolous opened #354 "stringIdRegex for Unit symbols is not loose enough for something like `$`"
https://github.com/h-REA/hREA/blob/067ee13467a304140ca62deec084d7a4cfa7c6dc/modules/vf-graphql-holochain/connection.ts#L142

this regex doesn't pick up, and thus doesn't deserialize for zome calls, a Unit ID which is specified via an actual 'symbol' symbol, instead of a string. @pospi I am guessing this is not intentional

[2022-08-13 21:57] Connoropolous opened #355 "omiting unitId (or passing the wrong one) in economic events for resources that have a specified unitId throws a very dense error"
This occurs when you try to call `createEconomicEvent` with a `transfer` action and you don't pass in the `unitId`

[code]

[2022-08-13 23:23] #275 closed, assigned to pospi, Connoropolous, weswalla

[2022-08-14 10:29] pospi commented on #354
correct! That's an oversight. I guess a nongreedy match-all then?

[2022-08-14 10:32] pospi commented on #355
There are a few `panic!`s in that code. Suggest we log something upstream for Holochain Core to log those better.

Might have been introduced during some of the semi-recent event/resource logic updates, as most of those panics occur due to developer error with the event not being set up correctly.

[2022-08-14 10:48] Connoropolous commented on #354
we could prevent matching digits, and that's it maybe

[2022-08-14 18:19] pospi opened #356 "Rearchitect indexing integrity zomes to fix hidden link conflicts & storage bloat"
With the changes to the HDK actioned in #340, data dependencies between controller zomes are now much more explicit than before and managed by regular Rust module system semantics. Where previously `get_links` used to return only links created in the local zome, now it can return links managed by other controller zomes if they are all acting upon the same integrity zome crates.

What this means fo

[2022-08-14 20:39] Connoropolous commented on #355
"Suggest we log something upstream for Holochain Core to log those better."
that's a bit of it yeah, as I noticed the panics there, and here we can't see them.

Why `panic` vs making it a fallible operation?

[2022-08-15 13:14] Connoropolous commented on #192
@fosterlynn
is this no longer pack/unpack?

Is it combine/separate instead?
https://www.valueflo.ws/concepts/actions/#action-behaviors

[2022-08-15 13:15] Connoropolous commented on #153
Opened up the #357 linked PR for this. request your review @pospi  :)

[2022-08-15 15:07] fosterlynn commented on #192
Yes, correct.  Sorry if this didn't get communicated all the way through.

[2022-08-15 15:26] Connoropolous commented on #192
ok cool. renamed the issue

[2022-08-15 16:45] Connoropolous commented on #244
@weswalla this is one you could do this week maybe?

[2022-08-15 18:38] pospi opened #360 "Obviate need for custom capability storage structs in inter-cell RPC calls"
hREA-specific tracking of https://github.com/holochain-open-dev/dna-auth-resolver/issues/2, which will likely resolve as being able to use built-in HDK methods to perform the capability storage and retrieval.

If it shakes out that way, we will no longer need to do a few awkward things:

- inheriting from the DNA Auth Resolver integrity zome along with type-specific integrity zomes will no longer

[2022-08-15 18:40] pospi commented on #264
Should work through a resolution for #356 before working on this issue.

[2022-08-15 19:07] Connoropolous commented on #360
"meaning we can use the standard #[hdk_entry_defs] macro with a simple struct rather than implementing the entry_defs and __num_entry_types externs manually."

no, we still can't, because in some cases like economic_resource/storage we import resource_specification/storage, which would throw a conflict.

@freesig is working on a real fix, to do with rust-features or something

[2022-08-15 19:24] pospi commented on #355
'cos they shouldn't ever get triggered- probably `unreachable!` is a better descriptor for them. If it *is* those being triggered (presuming a lot to say so) then it's due to a bug in the code rather than a user error. That `target_inventory_type` attribute has to be set in earlier method calls in order for those methods to behave properly, it was the only way I could think of doing it at the time

[2022-08-15 19:32] pospi commented on #264
Some extra code quality / cleanup to note about this, when we get to it:

- [ ] remove `entry_def_id` from record creation methods, replace with post_commit hook ([example](https://github.com/glassbeadsoftware/snapmail-rsm/blob/b59449b9f072353d10cbe71ea46c9b7128cfd9ad/zomes/snapmail/src/callbacks/post_commit.rs))

[2022-08-15 19:34] pospi commented on #356
Made the above changes as an experiment and it looks like a few ordering bugs come up as a result. These tests fail afterward:

[code]

There might be deeper issues at play here... worth investigating to figure out why these orderings are failing but others aren't. Some tests may have been relying on multiple links being created.

[2022-08-15 23:07] Connoropolous commented on #355
I think we're thinking different instances.

I believe this is the one I'm referring to. This isn't so much developer error as based on something that the end user can pass

https://github.com/h-REA/hREA/blob/8a7b287a8827e6fb9681dc01e6f4cc0b08e80755/lib/vf_measurement/src/lib.rs#L39-L42

[2022-08-15 23:09] Connoropolous commented on #355
I think the target_inventory_type one is fine

[2022-08-16 14:34] #153 closed

[2022-08-16 14:38] #354 closed, assigned to Connoropolous

[2022-08-16 14:38] #155 closed

[2022-08-16 22:46] weswalla commented on #355
@Connoropolous, Just to be sure, we want `add` and `subtract`
https://github.com/h-REA/hREA/blob/e4d080c703b023353998fd537569a099a1c4a8aa/lib/vf_measurement/src/lib.rs#L43-L60
to return a `RecordAPIResult` instead?

This would mean updating the `update_with` method of the `Updateable` trait:
https://github.com/h-REA/hREA/blob/e4d080c703b023353998fd537569a099a1c4a8aa/lib/hdk_records/src/record_inte

[2022-08-16 22:49] Connoropolous commented on #355
oh I see update_with is not fallible... maybe we can find the place that will call `update_with` and circumvent it there instead

[2022-08-17 10:49] pospi commented on #355
FWIW I do think we'll eventually want `update_with` to be fallible the same as for creates. Nothing in hREA yet needs it but I expect third party code might someday want to be able to handle invalid update payloads gracefully. If you want to make this the time and change the trait, feel free.

[2022-08-17 12:49] Connoropolous commented on #355
That might be better because we need to make sure that all 3 unit types are ultimately compared. The units of the resource_inventoried_as if it exists, the units of the event, and the units of the to_resource _inventoried_as if it exists

[2022-08-17 12:49] Connoropolous commented on #355
You were right all along Wesley

[2022-08-17 12:53] Connoropolous commented on #355
Ok I'm leaving now 👋 I defer to your judgments!

[2022-08-23 16:30] pospi commented on #264
Some other things to address in this refactor- following #356, there's a clearer picture.

**1.** The `*.indexed` indexes were conflicting since all index controller zomes use the same integrity zome, which was fixed in f5578341 and very hard to debug. So now for locally-adjacent zomes we have totally unnecessary duplicate indexes a few milliseconds apart.

Better would be to deal with this via va

[2022-08-26 21:19] #351 closed, assigned to pospi

[2022-09-07 02:47] #355 closed, assigned to weswalla

[2022-09-07 15:04] #272 closed, assigned to nobody

[2022-09-07 15:04] #273 closed, assigned to nobody

[2022-09-07 16:41] #244 closed, assigned to nobody

[2022-09-11 19:18] Connoropolous opened #367 "prior to Sapling release, update to holochain 0.0.161"
I think it's just prudent to do this, due to the bugs they fixed.

- [ ] will need to update dna-auth-resolver first

we should also update (forgot to do this) @holochain/client to v0.8.0 which included the network_seed change

[2022-09-13 00:35] Connoropolous opened #370 "debug intermittent CI failures"
Linux passes, mac fails, so whats the difference?

Outcome: tests pass consistently on CI

[2022-09-13 15:49] pospi commented on #356
Expanding the scope of this issue after determining the cause and a [bit of discussion](https://github.com/h-REA/hREA/issues/264#issuecomment-1224314138).

- [ ] add validations to time index links such that records can only ever be indexed once per index.
- [ ] allow the index creation logic to error and handle those validation errors gracefully for locally-adjacent indexes, which might be trigge

[2022-09-13 18:39] Connoropolous commented on #370
these may be resolved by our version bump to  0.8.0 tryorama, which fixes network seed which will make each network unique

[2022-09-13 18:41] #367 closed, assigned to weswalla

[2022-09-14 10:31] pospi opened #371 "Find an appropriate license holder"
An organisation with a stable legal entity needs to take on stewardship of the codebase and its licensing.

No changes to the current Apache-2.0 licensing are expected, this is merely a matter of enforcement. Likely some Holochain ecosystem organisation such as http://coventina.org should be assigned the copyright.

[2022-09-15 14:27] Connoropolous commented on #370
seems to be

[2022-09-15 14:27] #370 closed, assigned to nobody

[2022-09-17 17:05] Connoropolous opened #373 "vf-graphql-holochain can't handle an empty list for Event.inputOf without erroring"
https://github.com/h-REA/hREA/blob/a41f1746cf63a7484fcaaa1e251560e99f6c880d/modules/vf-graphql-holochain/resolvers/intent.ts#L73

[2022-09-19 16:48] Connoropolous commented on #373
I believe these should be `?` not `!`

[2022-10-05 15:13] pospi commented on #356
Doing either of the above is not a good pattern for Holochain app validation. Nondeterministic validation (based on `Action` creation time in a partitioned network) leads to potential integrity issues, however minor. Better to allow multiple indexes to be created and de-duplicate the links in some way upon reading. The implementation in this PR is to pick the first observable created link as the s

[2022-10-13 20:24] pospi commented on #145
via @pdaoust

* `must_not_get_*` would be non-deterministic (impossible to tell the difference between 'haven't seen it yet' and 'doesn't exist' given eventual consistency) so it wouldn't work in validation callbacks
* there may be something in the far future called 'hardened metadata' that _will_ all but guarantee finality for (non-)existence of links and entries and stuff. It'll be a soft finali

[2022-10-13 20:27] pospi commented on #177
on various mechanisms for cross-DNA validations:

(via @pdaoust)

* FWIU cross-cell `must_get_*` is in the works 👍🏼 I don't see it on the roadmap, but I wonder if it's rolled into the 'Holochain Resource locators' milestone?
* signed claims with expiry times would certainly work deterministically -- mimicking TLS certs but without the convenience of revocation lists
* locking/semaphores would work

[2022-10-17 21:51] pospi opened #374 "Implement correct ordering of self-referential local-only indexes"
This issue currently only affects `EconomicResource.contains` and [manifests as](https://github.com/h-REA/hREA/actions/runs/3190773413/jobs/5206315075) nondeterministic return order of contained resources.

It should be resolved as part of #337 and will definitely go away once we move to an integrity zome architecture in #264; but deserves its own issue as there are some additional DHT storage blo

[2022-10-21 19:22] #356 closed, assigned to pospi

[2022-10-31 23:04] pospi commented on #356
Was thinking about this today and another benefit should be a more - than - modest performance increase in making initial calls to a zome (especially for calls involving many zomes, such as an EconomicEvent creation with an inventoried EconomicResource). 1 indexing integrity zome means 1 shared WASM between all indexing zomes means faster boot time & lower memory & storage overhead.

Can anyone co